[2016-06-13 20:08] jsstylos opened #12 "cookie header should be stripped from response"
For security reasons it's be bad to expose the cookie in the proxied response to the user.

[2016-06-13 20:16] jsstylos commented on #12
Nevermind -- it looks like the response headers aren't passed through.

[2016-06-13 20:16] #12 closed

[2016-06-21 21:00] PhilippeComte opened #13 "csv file does not import in tool"
The tutorial for the Watson Conversation service asks to import a csv file  car_intents.csv into the conversation tooling. I can't manage import : is there something wrong with the format ?

[2016-06-21 23:16] germanattanasio commented on #13
Make sure you are importing a csv file. I just merged some changes to the README from @sgregglives.

[2016-06-22 03:07] doconnor78 commented on #13
@PhilippeComte As German said, make sure to check the format of the csv before importing. We've had complaints/issues from folks who have saved the html page `https://github.com/watson-developer-cloud/conversation-simple/blob/master/training/car_intents.csv` as a CSV file.. Users must navigate to this page to save as csv directly: https://raw.githubusercontent.com/watson-developer-cloud/conversati

[2016-07-05 13:44] anthonyherveHCS opened #15 "Entities and Dialog"
Hello,

I suppose you created Entities and a Dialog in your own Conversation Workspace to get not only the intents but realistic responses.
Did you document this part somewhere ?

Thank you in advance

[2016-07-05 16:37] mitchmason commented on #15
Hello, initially conversation only had the intent identification capability, and the responses are simply hardcoded in the application, "i see your intent as xyz", now that entities and dialogs are available within the service we will be adding them to the app as well as the basic instructions how to do so.

[2016-07-06 11:06] anthonyherveHCS commented on #15
Thank you.
In this sample (http://conversation-simple-node-app-doc.mybluemix.net/) do you already use entities and dialog or the responses ("Ok. Turning on the light." or "Sure thing! Do you have a particular genre in mind? Jazz is my personal favorite..") are also hardcoded ?

[2016-07-06 14:06] mitchmason commented on #15
Sorry, you win. This was updated to use entities and dialog very recently as the features were released in the service. We will make sure to document this shortly, as well as add the training data to the training folder.

[2016-07-06 14:12] anthonyherveHCS commented on #15
Thank you Mitchell.

[2016-07-11 10:53] ysfAskri opened #22 ""AND" & "OR" in conversation workspace not work"
when i use in codition :
**"@GENRE:Action AND  #SearchMovies"** or **"@GENRE:Action OR #SearchMovies"**
 not the conversation not return to me _"Action"_ response
[screenShot of using "AND" ](https://postimg.org/image/4u5glqos7/)
but when i use only one proposition in the condition:
**"@GENRE:Action"** or  **"#SearchMovies"**
it worked
[ScreenShot of using only "GENRE:Action"](https://postimg.org/

[2016-07-11 16:09] mitchmason commented on #22
I believe this is a bug in the experimental service. We will be releasing the GA service shortly, so please add that on bluemix as its now in the main catalog, and try it there.

[2016-07-11 17:52] mitchmason commented on #22
We have now released the GA service. Go to the catalog and now you will see it in the Watson section, NOT the experimental labs section. this version should work for you.

[2016-07-11 21:03] tdalbo92 opened #23 "Left side of input text is cut off when highlighted"
![image](https://cloud.githubusercontent.com/assets/8292003/16746647/4a1889d8-4789-11e6-9d0d-f7d5e29df449.png)

Clicking away from the input field shifts the text to proper alignment.

[2016-07-11 23:23] #13 closed

[2016-07-13 11:19] ysfAskri opened #26 "Can this conversation have a locale variable?"
Can this conversation have a locale variable?
like the [movie dialog & NLC example](https://conversational-agent-application-starter-kit.mybluemix.net/?cm_mc_uid=93222245435914647056951&cm_mc_sid_50200000=1468408401#/) which can storage [my name](https://postimg.org/image/iwvevnypd/)

[2016-07-13 16:18] mitchmason commented on #26
This conversation specifically? No. The service itself can easily do that using context variables. See the advanced section of the docs for more info.
https://www.ibm.com/watson/developercloud/doc/conversation/advanced_overview.shtml
Using context you can store and inject pretty much any info you want at any point in the conversation.

[2016-07-15 15:38] ColbyJohnIBM commented on #23
@tdalbo92 What browser and version was this found in?

[2016-07-17 04:13] tdalbo92 commented on #23
Chrome, 51.0.2704.106 m (64-bit)

[2016-07-17 04:14] tdalbo92 commented on #23
On Mac OS X 10.11.  Seems like it doesn't happen in Windows with the same Chrome version, strangely.

[2016-07-25 20:33] pablitomelo commented on #26
Using Context the app must send the name to Watson, but how can i get the name in Watson?
For example i want to detect and store "Pablo" in the variable name if the user input "My name is Pablo" How can i archive this? Do i have to use regex in the app?

[2016-07-25 21:08] mitchmason commented on #26
Names are exceptionally hard to extract. You could use regex, or potentially another service like Alchemy, but it will likely not catch every single name possible. Typically in conversational apps we do like the "whats in theatres" application and have a starting screen to collect a user's name to be sure we do not get it wrong. The problem is there are no bounds on what a name can be, and add to

[2016-07-28 14:55] PhilippeComte opened #38 "Simple conversation deployed but "Watson does not understand""
Hello ,
I have followed the deployment steps of the simple conversation app on Bluemix.
I notice :
-that the Service has to be created manually (only the app is deployed)
-after importing the car_workspace.json file, I get a workspace id and can add the user defined variable.
I get the introduction to the dialog : Hi. It looks like a nice drive today. What would you like me to do?
However , the sy

[2016-07-28 19:38] ColbyJohnIBM commented on #23
This issue exists on the car-dashboard side as well, mostly when the screen has been re-sized, causing issues with the underlining as well. Will fix this soon.

[2016-08-03 03:07] doconnor78 commented on #38
@PhilippeComte The workspace takes about 5 to 10 minutes to train the first time it is imported.. Can you let us know if you are still seeing the issue - sorry for the delayed response

[2016-08-03 03:08] #15 closed

[2016-08-04 20:16] ColbyJohnIBM commented on #23
Are you still seeing this on your machine in the simple app? I haven't delivered any changes yet, because we can't reproduce in the simple app (I think the resizing issue in the car-dashboard is independent), so I can't be sure if I've fixed it.

To be fair, we've only tried briefly using the following:
Mac: 10.11.4
Chrome: Version 52.0.2743.82 (64-bit)

[2016-08-05 19:33] tdalbo92 commented on #23
Hmm - all fixed!  Weird.

[2016-08-05 19:33] #23 closed

[2016-09-01 19:40] hayslan1 opened #48 "Locally conversation-simple"
Hi.
Can someone said where and how to set .env file as describe on the manual. Can someone give a example please?

[2016-09-02 03:29] germanattanasio commented on #48
just rename the [`env.example`](https://github.com/watson-developer-cloud/conversation-simple/blob/master/.env.example) file and update the variables there.

[2016-09-02 03:29] #48 closed

[2016-09-02 11:40] hayslan1 commented on #48
Hi German. Give a example please because only rename and insert the due variables doesn't work for me. Thanks.

Sent from my Samsung device

-------- Original message --------
From: German Attanasio Ruiz <notifications@github.com>
Date: 09/02/2016  12:29 AM  (GMT-03:00)
To: watson-developer-cloud/conversation-simple <conversation-simple@noreply.github.com>
Cc: Hayslan Prychwa <hayslan1@msn.com>, A

[2016-09-02 14:44] hayslan1 commented on #48
Ok German. Solved already. Thanks.

Sent from my Samsung device

-------- Original message --------
From: German Attanasio Ruiz <notifications@github.com>
Date: 09/02/2016  12:29 AM  (GMT-03:00)
To: watson-developer-cloud/conversation-simple <conversation-simple@noreply.github.com>
Cc: Hayslan Prychwa <hayslan1@msn.com>, Author <author@noreply.github.com>
Subject: Re: [watson-developer-cloud/conve

[2016-09-11 03:04] #38 closed

[2016-09-11 03:04] #26 closed

[2016-09-11 03:05] #22 closed

[2016-09-14 06:24] chughts commented on #48
@hayslan1 this is not the correct forum for questions like this. This is a forum for developers of the SDK who are seeing coding problems with the SDK itself, and either flagging it, or better still providing a fix for a problem they have found.

For simple questions like yours please use either stackoverflow or developerworks. There your questions will get wider visibility, and if we think that y

[2016-09-14 11:19] hayslan1 commented on #48
@chughts Thanks Soheel.

[2016-09-17 15:59] adolfoalamo opened #50 "New Image is not showing"
Hi,
I deployed your sample on bluemix and now I and trying to change the graphics. I changed the car dashboard image for a airplane dashboard image using the same name.  I built and deployed the app and the image changes does not appear it still show the car dashboard.  Please advice

[2016-09-17 16:18] germanattanasio commented on #50
@adolfoalamo It's hard to see what problem you have based on your description. Open the Web Inspector in Chrome and look at the image that the HTML is using. That's the image you need to change.

I'm closing this since it's not a problem in the code.

[2016-09-17 16:18] #50 closed

[2016-09-17 16:25] adolfoalamo commented on #50
I just change the image color and imported using the same name and overwrite the file build deploy and the image is the old image...

[2016-09-17 16:29] adolfoalamo commented on #50
@germanattanasio how can I change the images? I am trying to use the same name to not broke the code but I and changing the image with Photoshop.

[2016-09-19 11:05] yogeshkakde opened #51 "Confidence"
In `app.js` `updateMessage` method, I noticed that confidence is not checked properly.

[code]

If there is an output in the response confidence is not checked. I noticed that even if I give random sentence, I am getting some random output.

[2016-10-05 05:26] Ashwin-93 commented on #51
Hi ,
I'm new to this concept can i know how the confidence is measured? confidence = doc.response.intents[0].confidence; ie is it matching with values if exact match "1" like that right
And "node_5_1469049934217" how this is created(ie the number attached with "node" is it random) and linked to other nodes i am bit confused
and can u suggest how to build a small watson application

[2016-10-05 07:14] mitchmason commented on #51
@yogeshkakde to answer your original question:
The code you are seeing is not actually used in the application, you are correct. When we first created this app, there was no dialog piece to the service. So based on the confidence, we would give a response simply parroting back the intent. Now that there is Dialog, this code is no longer used. We did leave it in as an example of what you could do i

[2016-10-05 08:56] Ashwin-93 commented on #51
Thanks  mitchmason

[2016-10-18 16:19] kulkarniankita opened #56 "Watson Conversation apps are not understanding specific words even after watson suggesting that"
![screen shot 2016-10-18 at 12 18 57 pm](https://cloud.githubusercontent.com/assets/2559673/19486609/161e7132-952d-11e6-9b3a-a19dbf459fb1.png)

In the example above, even after it suggests me tacos or burgers and I type the same.. it does not understand. This looks like a bug to me.

http://conversation-simple.mybluemix.net/

[2016-10-19 18:13] #56 closed

[2016-10-20 09:27] JamieGilbertIBM opened #58 "Binding the "conversation-simple" app to CloudantDB causes app to crash"
1. Deploy the Watson conversation sample application using https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/conversation-simple
2. Once deployed, add/bind a Cloudant service to this deployed app.
3. Restaged the app. App will not come up. It crashes.

activity log shows 'an instance of app is crashed, failed to accept connections with health check timeout'.

[2016-10-21 07:29] tkhan3 opened #59 "Master branch is not working on deploying it to bluemix"
I am working with IBM India and tried to pull the code to build a conversational application. I checked out code from master branch and fowed all the instructions to modify .env file and manifest.yml while.  App is built locally and running perfectly fine.

But when I deployed same app to Bluemix, App is deployed properly. Though front end is appearing but dialogue services are not working. Please

[2016-10-26 16:49] aarora91 commented on #59
Hi @tkhan3,

I followed the instructions on the readme with the latest code from master branch and it works for me. I am seeing a response from Conversation both-via localhost and when i deploy to Bluemix.

Can you check out your app logs on Bluemix and post them here? That should help us debug the issue. You can access logs by clicking on your app in the dashboard:
![image](https://cloud.githubus

[2016-11-03 19:00] dgterry commented on #51
closing as this appears to have been answered.

[2016-11-03 19:00] #51 closed

[2016-11-03 19:08] glennrfisher opened #61 "Increment version_date"
It would be helpful to increment the [`version_date`](https://github.com/watson-developer-cloud/conversation-simple/blob/c8e7ab1258803c83f52f6fe9e92ea138e357f69f/app.js#L54).

I was using this application to reference the JSON output, but the changes to `dialog_stack` are not reflected because the `version_date` is set to `2016-09-20`.

[2016-11-03 22:05] germanattanasio commented on #59
I think the problem was that we were not pushing the `.env` file so the credentials were never in the Bluemix app. It should be fixed now

[2016-11-03 22:05] #59 closed

[2016-11-03 22:07] germanattanasio commented on #58
Hi @JamieGilbertIBM, I'm looking at the manifest and Cloudant is not a requirement for this app. You should be able to run the deploy to Bluemix and have the app working once you update the `WORKSPACE_ID`

[2016-11-03 22:07] #58 closed

[2016-11-03 22:08] germanattanasio opened #63 "Add credentials to travis so that we can run the tests"

[2016-11-04 02:59] germanattanasio commented on #61
09-20-2016 is the last official `version_date`. There are not new changes AFAIK

[2016-11-04 04:02] glennrfisher commented on #61
The [release notes](https://www.ibm.com/watson/developercloud/doc/conversation/releasenotes.shtml) refer to an October 21 release.

It's interesting to note that the dialog stack changes were in the September 20 release, but not reflected in this demo. So I think there's an off-by-one error, where the date would need to be 2016-09-21 or later to see those changes.

[2016-11-04 12:05] SirSpidey commented on #61
@glennrfisher: The release notes document a feature release, but not a minor version release. The last minor version that I'm aware of is `2016-09-20`, and that's reflected in the rel notes (and API explorer, and API reference too).

Are you saying that this date doesn't return the correct info?

[2016-11-04 15:39] dgterry commented on #61
@glennrfisher out of curiosity were you experimenting with a local installation of the app or the one hosted at http://conversation-simple.mybluemix.net/ ? I'm wondering if there is potentially a discrepancy between code in the repo and the code running the hosted app.  I plan to update the app with the latest code early next week.

[2016-11-07 18:00] glennrfisher commented on #61
@SirSpidey: If there was a feature release on `2016-10-21`, is there any reason not to update the demo to support the new version? Or perhaps there's already an issue for it in a different repository?

@SirSpidey: It's strange, but I don't think we're seeing the results that we expect. According to the `2016-09-20` version, the "`dialog_stack` changes from an array of strings to an array of JSON o

[2016-11-07 18:26] SirSpidey commented on #61
@glennrfisher Hi Glenn, no reason not to update the demo, but I was commenting only on the minor version date that we see in the explorer, reference and release notes. According to my info, Dan O'Connor is responsible for the demo.

[2016-11-15 13:47] ReeceMed opened #65 "Buttons?"
I noticed your experiment with buttons adding them into the chat flow.

How is this achieved?

[2016-11-15 14:29] ashleylord8 commented on #65
@ReeceMed There is an example of how to do so laid out in this issue: https://github.ibm.com/watson-engagement-advisor/wea-backlog/issues/2787

[2016-11-15 14:30] ashleylord8 commented on #65
@ReeceMed : So a basic way to feature buttons within the conversation-simple app I did the following:

Within the conversation workspace I added the following under the intent "#goodbyes".

<img width="800" alt="screen shot 2016-10-24 at 11 37 18 am" src="https://media.github.ibm.com/user/16253/files/5f9e8cba-99de-11e6-9188-60bcbd1450cd">

To do this, you go to the intent node, click the vertical

[2016-11-16 05:01] hborg004 opened #66 "Error: spawn node-gyp ENOENT"
I have followed instructions but i keep getting this error:
[code]

I am not sure why this is happening. What should i name my env file as? maybe that is the problem?

[2016-11-16 15:13] germanattanasio commented on #66
You are missing the credentials.

[2016-11-16 16:06] hborg004 commented on #66
@germanattanasio i have an .env file but im not sure i have it configured correctly.  how should it be named?

my env file has this

# Environment variables
WORKSPACE_ID=21fd3a1a-2da3-4eab-bf93-ab0fdf7a89f0
CONVERSATION_USERNAME=9fe22a7a-a494-458e-8606-d5b8452615a8
CONVERSATION_PASSWORD=0i1ZCgzjzWko
#Optional params, delete any which are not used!
#Optional params to enable Speech to text
STT_USER

[2016-11-16 16:36] germanattanasio commented on #66
call it `.env` and make sure is in the root folder

[2016-11-16 16:57] hborg004 commented on #66
@germanattanasio  thank you, it worked. i had to run it on linux because for some reason windows did not allow me to name it .env

[2016-11-16 16:58] #66 closed

[2016-11-18 15:41] alanbraz commented on #13
Conversation is asking to import CSV only and I can only find a JSON file under master/training!

[2016-11-18 17:58] PhilippeComte commented on #13
Hello @alanbraz  , the Conversation tutorial does no longer require a csv file.
https://www.ibm.com/watson/developercloud/doc/conversation/tutorial_basic.shtml
The Conversation is either filled manually tool or you import a workspace (Import Workspace) which is a json file.

Import a workspace
Select a JSON ﬁle then choose which elements from the workspace to import.
So you should forget about csv

[2016-11-18 19:44] jersonjunior opened #67 "Call some external service"
How do I execute an internal script in the operating system when the user insert example: Play some music => after the echo of the genre like Jazz.

[2016-11-21 14:28] sayurimizuguchi commented on #65
Hi Ashley, you put this code .js in one variable existing or your create new variable?

[2016-11-21 14:44] ashleylord8 commented on #65
@sayurimizuguchi The js code featured above was handled in the conversation-simple app for this example. The functions `yesBye()` and `noBye()` did not exist beforehand. I added these so I could update the conversation workspace I was using (also shown above). The snippets shown above are everything that I added to this example of the conversation-simple app. I'm not entirely sure if I answered yo

[2016-11-21 15:41] sayurimizuguchi commented on #65
Hi Ashley, thanks, but In this case, it's just to know if you added this code to some existing class, example: dialog_service.js.
Or you have created a new (.js) one with this script.

[2016-11-21 15:46] alanbraz commented on #13
I got it! Import a Workspace is a JSON file, so it is correct!

The first time I did it, I created the workspace manually, and tried to import internally, and that one, only accepts CSV!!

Thanks

[2016-11-21 15:57] ashleylord8 commented on #65
@sayurimizuguchi I just added it to the index.html file. As you can see there are script tags around the javascript code. So for simplicity, I just added it here for experimental purposes. So I didn't create any new .js files within the project.

[2016-11-21 16:18] jersonjunior commented on #65
@ashleylord8 By entering into the conversation, could you make your index.html available?

[2016-11-21 16:34] jersonjunior commented on #65
It worked!

[2016-11-21 16:35] ashleylord8 commented on #65
@jersonjunior So you can get the original index.html here: https://github.com/watson-developer-cloud/conversation-simple/blob/master/public/index.html. All I did was paste the script shown above within this file. I also added the css shown above within app.css which can be found here:  https://github.com/watson-developer-cloud/conversation-simple/blob/master/public/css/app.css.

[2016-11-21 16:42] sayurimizuguchi commented on #65
Ashley, there is the possibility to execute some script locally or else in another server from that event of clicking "yes" or "no"?

[2016-11-21 16:51] ashleylord8 commented on #65
@sayurimizuguchi I'm not sure what you're asking. I ran this code locally. I did so by following the directions for the conversation-simple app: https://github.com/watson-developer-cloud/conversation-simple. I added the code to index.html and app.css and ran it locally just like you would following the directions in this repo. This is how I ran this experimental project. I'm sure you can follow th

[2016-11-22 14:13] sayurimizuguchi opened #68 "remove Watson understands"
Hi,
I want to know how remove the window Watson understands

Thanks.

[2016-11-22 17:15] ashleylord8 commented on #68
Hi @sayurimizuguchi,

You can simply go into the file, **app.cs**, and add `display: none;` under `#payload-column` and change the display settings from `display: inline-block;` to `display: none;` under `#view-change-button`. This will get rid of the "Watson understands" window.

[2016-11-26 01:37] #67 closed

[2016-11-26 03:12] hborg004 opened #70 "node install.js not found"
ubuntu 16
I am getting this error, it seems like this file is missing. Wont allow me to install.
note: i got this to work before on another OS but i had to re-install it
execSync@1.0.2 install /home/hb/Desktop/conversation-simple-master/node_modules/execSync

sh: 1: node: not found
conversation-simple@0.1.1 /home/hb/Desktop/conversation-simple-master

ubuntu 14

3615 verbose about to build /home/h

[2016-11-26 20:42] sourabhks opened #71 "unable to install and start the app locally"
Install the demo app package into the local Node.js runtime environment:
1) npm install
Start the app:
2)npm start
3)Point your browser to http://localhost:3000 to try out the app.

Followed the above instruction but was unable to install or start. I am new to this.
Can anyone plz say what should i type after npm install _________
and similarly npm start______

[2016-11-26 21:20] #71 closed

[2016-11-26 21:22] sourabhks opened #72 "App has started locally but couldn't view anything...Its blank"
the app started on localhost 3000 is all blank. It takes input but doesn't give any output.
The Chatbot conversation tool is probably missing. Kindly help

[2016-11-27 06:06] #72 closed

[2016-11-27 06:11] sourabhks opened #73 "pushing application to bluemix results in panic error"
cf push results in invalid memory address or nil pointer dereference error. Kindly help. thanks

[2016-11-27 14:45] hborg004 commented on #70
i installed it in windows and it worked

[2016-11-27 14:45] #70 closed

[2016-11-28 15:26] dgterry commented on #68
closing as Ashley's comment appears to answer the question

[2016-11-28 15:26] #68 closed

[2016-11-28 17:18] dgterry commented on #65
Closing due to lack of activity and the original question appears to have been answered.  Please file something new if necessary.

[2016-11-28 17:18] #65 closed

[2016-11-29 15:18] #63 closed

[2016-11-29 15:19] dgterry commented on #61
Closing based on https://github.com/watson-developer-cloud/conversation-simple/pull/64

[2016-11-29 15:19] #61 closed

[2016-11-29 15:59] germanattanasio commented on #73
Hey @sourabhks is this still a problem for you? I'm able to clone and push the app without problems.

[2016-11-29 19:08] sourabhks commented on #73
Hi,

Yes the problem still persists.

Thanks,
Sourabh

On Tue, Nov 29, 2016 at 9:29 PM, German Attanasio <notifications@github.com>
wrote:

--
Sourabh Kumar
Ph. No. 9158711791

--

*This email is governed by the Disclaimer Terms of  SIU which may be viewed
at* http://www.siu.edu.in/downloads/email-disclaimer.php

[2016-11-29 19:10] germanattanasio commented on #73
Did you add the environment variables as described in the README?
I think this is a problem in your environment. Are you using a Mac, Windows or Linux?

[2016-11-29 19:12] sourabhks commented on #73
Can you please confirm what changes do i need to make  and in which files,
I am using 32 bit windows

On Wed, Nov 30, 2016 at 12:40 AM, German Attanasio <notifications@github.com

--
Sourabh Kumar
Ph. No. 9158711791

--

*This email is governed by the Disclaimer Terms of  SIU which may be viewed
at* http://www.siu.edu.in/downloads/email-disclaimer.php

[2016-11-29 19:14] germanattanasio commented on #73
Take a look at the README.md file, everything is documented there.

Is the app working locally?

[2016-11-29 19:20] sourabhks commented on #73
yeah the app is working locally nicely.

only problem is in the cf push.
I have followed the README.md file and changed .env and yml files
as required for the deployment.

On Wed, Nov 30, 2016 at 12:44 AM, German Attanasio <notifications@github.com

--
Sourabh Kumar
Ph. No. 9158711791

--

*This email is governed by the Disclaimer Terms of  SIU which may be viewed
at* http://www.siu.edu.in/downloa

[2016-11-29 19:29] germanattanasio commented on #73
can you paste the output you get when running `cf push`

[2016-11-29 21:10] sourabhks commented on #73
Here is the output:

C:\Users\INDU\Desktop\chatbot\conversation-simple-master>cf push
Using manifest file
C:\Users\INDU\Desktop\chatbot\conversation-simple-master\man
ifest.yml

Updating app GVT-123 in org SK123 / space EX1 as annuvikash@gmail.com...
OK

Uploading GVT-123...
Uploading app files from:
C:\Users\INDU\Desktop\chatbot\conversation-simple-mast
er
Uploading 1.3M, 100 files
Done uploading

[2016-11-29 22:29] germanattanasio commented on #73
That doesn't look like a problem with this app. Seems like the `cf` command line tool is failing.

[2016-11-29 22:39] sourabhks commented on #73
plz guide me as what should i do...any alternate approach for the problem?
On 30 Nov 2016 03:59, "German Attanasio" <notifications@github.com> wrote:

--

*This email is governed by the Disclaimer Terms of  SIU which may be viewed
at* http://www.siu.edu.in/downloads/email-disclaimer.php

[2016-11-29 23:13] germanattanasio commented on #73
Try reinstalling `cf`

[2016-11-30 03:42] sourabhks commented on #73
i tried reinstalling cf and even tried installing cf edge patchup but
nothing worked. can u plz tell me the old cf cli version when this noaa
problem was not present..perhaps i can install tht cli version and try
On 30 Nov 2016 04:43, "German Attanasio" <notifications@github.com> wrote:

--

*This email is governed by the Disclaimer Terms of  SIU which may be viewed
at* http://www.siu.edu.in/downl

[2016-11-30 03:46] sourabhks commented on #73
I have tried that too even installed cf edge patch but nothing worked.
Can you please tell me the CF CLI version in which the NOAA problem
was absent. So probably i can install that version and try here.

Thanks for your patience and cooperation

On Wed, Nov 30, 2016 at 4:43 AM, German Attanasio <notifications@github.com>
wrote:

--
Sourabh Kumar
Ph. No. 9158711791

--

*This email is governed by

[2016-11-30 05:32] germanattanasio commented on #73
Seems to be a random issue in the `cf` CLI. See cloudfoundry/cli#661

[2016-12-02 12:38] sayurimizuguchi opened #75 "Error .env.example"
Hi,
I try get the info of my IBM bluemix, but dont work (locally).
In the ibm bluemix I have to add the WORKSPACE_ID to work in "Environment Variables".
What am I doing wrong?
Obs.: In the Conversation-enhanced I get the info and work, But in this one I must be doing something wrong, can it help?

Print:
![capturar](https://cloud.githubusercontent.com/assets/23122214/20834192/2046c076-b87b-11e6-84

[2016-12-02 15:38] germanattanasio commented on #75
Is your code up to date with the code in this repository?

If you look at this [line](https://github.com/watson-developer-cloud/conversation-simple/blob/master/app.js#L42), we are loading the `WORKSPACE_ID` so it should work

[2016-12-02 16:23] sayurimizuguchi commented on #75
Exactly, and I try use other Conversation.. dont the car_workspace.

I paste the workspace_id at this line app.js#42 but dont work,

[2016-12-02 16:32] germanattanasio commented on #75
try to use the `.env` file and make sure the are no spaces between `=` and the end of the line.

You can also run the app with: `NODE_DEBUG=request npm start`

So that you can see the HTTP requests

[2016-12-02 17:29] sayurimizuguchi commented on #75
I check and dont have spaces  between =..
See:
![capturar jpg2](https://cloud.githubusercontent.com/assets/23122214/20843814/0f058d28-b8a4-11e6-8541-fb8e0d51f8ef.JPG)

Dont work.
I run the app with node debug request npm start and:
![capturar](https://cloud.githubusercontent.com/assets/23122214/20843779/e5c943be-b8a3-11e6-8c7a-8f4c5f73c10b.JPG)

:(

[2016-12-02 17:30] sayurimizuguchi commented on #75
I looked at the node_modules folder and the "request" folder is there with the node files, but it has this error ...

[2016-12-02 18:41] germanattanasio commented on #75
`NODE_DEBUG=request npm start`

[2016-12-02 18:42] germanattanasio commented on #75
You are running `node debug request npm start`

[2016-12-05 16:15] sayurimizuguchi commented on #75
'NODE_DEBUG' is not recognized as an internal command or external, an operable program or a batch file."

[2016-12-05 16:21] sayurimizuguchi commented on #75
Hi, I try get the info inline code app.js and work, thanks very much.

[2016-12-05 16:24] #75 closed

[2016-12-09 02:39] doconnor78 commented on #73
@germanattanasio I experienced the same issue today. I installed the latest CF tool and the Bluemix tool and it seemed to resolved the issue. I think it is safe to resolve this as not an issue with the app but rather the CF tools?

[2016-12-12 19:12] sayurimizuguchi opened #77 "Example: Watson Responds."
I know if I want send any to Watson in conversation I use the:

[code]
I want to know how do I get Watson to **send something in the conversation**. I saw some examples and tried and it did not work. Can someone help?

I dont now If I'm doing right, but My example is:
[code]

[2016-12-13 04:02] jefftmahoney commented on #77
Hi there - I think the reason your example is not working is because `setResponsePayload()` does *not* return any value, and so *nothing* gets assigned to the variable `latestResponse`.

Have you tried doing something like this:
[code]

[2016-12-13 12:13] sayurimizuguchi commented on #77
Hi!
I try it but dont work :(
Error: ` Unexpected token O in JSON at position 0(…)`

[2016-12-14 04:13] jefftmahoney commented on #77
When is the error occurring?  On the `setResponsePayload()` call, or one of the others?

[2016-12-14 11:31] sayurimizuguchi commented on #77
Occurring here: `Api.sendRequest("Hi Sayuri!", context);`

[2016-12-15 16:02] ashleylord8 commented on #77
Hi @sayurimizuguchi,

I believe I found the solution. You want to do something like this:
[code]

The reason why you were getting the `Error: Unexpected token O in JSON at position 0(…)` was since the parameter being passed to `Api.setResponsePayload` wasn't in the correct format. To set the text for the response payload, the correct parameter format would be as follows:
[code]

I hope this helps!

[2016-12-15 16:23] sayurimizuguchi commented on #77
Thank you very much!
You already helped me a lot here, thank you!

[2016-12-15 16:35] ashleylord8 commented on #77
Closing since the question to set Watson's response appears to be answered.

[2016-12-15 16:42] sayurimizuguchi commented on #77
If i want add one variable with the message, what I do?

var test = 2222;

[code]

[2016-12-15 16:59] sayurimizuguchi opened #79 "Watson respondes + Value"
If i want add one variable with the message, what I do?

[code]

[2016-12-15 17:06] ashleylord8 commented on #77
@sayurimizuguchi

I'm not exactly sure what you're asking. You would like to send a variable within the output that is not a string? Or you would like to set it as the context? Or is it something else?

[2016-12-15 17:09] sayurimizuguchi commented on #77
I want send a message with some value, and the value save in one variable.
Can be in context or text, whatever. But when I try to do this it gives me a String error (json)

[2016-12-15 17:13] ashleylord8 commented on #77
@sayurimizuguchi

I made a new field within the JSON parameter called `test` and put that within `output`. Also, your variable `test` had to be in string form in order to be a part of the string we're sending as a parameter. So instead of `var test = 2222;` have it be `var test = "2222";`.

[code]

Does this help?

[2016-12-15 17:15] jefftmahoney commented on #77
@ashleylord8  Cool - so you can facets as needed to the output.  Neat!
@sayurimizuguchi you can also do `test.toString()` if the variable starts out as a numeric entity.

[2016-12-15 17:19] sayurimizuguchi commented on #77
The text is array so it's just going to message inside [] even when I put toString ()

[2016-12-15 17:20] ashleylord8 commented on #77
@sayurimizuguchi

Try this:
[code]
This allows you to add a variable that's not a string within the JSON parameter. I made a new field `test` within the `output` field.

Does this help?

[2016-12-15 17:23] sayurimizuguchi commented on #77
Hi Ashley! Thanks very much for help me again, I try your code but dont show the number :(

[2016-12-15 17:28] sayurimizuguchi commented on #79
Closed Because this question is being verified in the #77

[2016-12-15 17:28] #79 closed

[2016-12-15 17:31] ashleylord8 commented on #77
Ah, so I can see that it's there by printing the payload to the console. As you can see here:
[code]
I didn't realize you wanted the number shown. In that case, you would want to do this:
[code]

Again, the variable can be a string or the number 2222 in this case.

[2016-12-15 17:34] sayurimizuguchi commented on #77
Hi Ashley, this work!!!!! Thanks again!

[2016-12-15 18:05] #77 closed

[2016-12-16 15:23] ashleylord8 commented on #73
It looks like there is a solution here, so I'm going to close this. Please try it and if problems are still occurring please reach out again.

[2016-12-16 15:23] #73 closed

[2016-12-21 13:54] sayurimizuguchi opened #80 "More function's inside app.js"
Hello! I would like to add functions in the app.js file so that if someone tries to view the codes, they can not. But these functions will be used, for example:

[code]

I try input my code inside app.js but show me error **(Api is not defined)**.
In the case, What I do for insert function's inside one JS file, but, no one can see?
Can be in another js file, no problem.

Obs.: Before I put these f

[2016-12-22 01:52] germanattanasio commented on #80
@sayurimizuguchi I think you want to modify the client-side of this sample so you should work with the files in the public folder. The confusion is that the back-end (server side) is in JavaScript but it's not connected to the client-side.

[2016-12-22 11:25] sayurimizuguchi commented on #80
I understand, but in case I want to use webservice, both in node and Javascript, and ensure that my code can not be seen, but it will be working with Watson, what can I do?

[2016-12-23 04:34] germanattanasio commented on #80
not unless you browserify your files.

[2016-12-23 11:40] sayurimizuguchi commented on #80
Thank you for the help!

[2016-12-23 11:40] #80 closed

[2017-01-18 17:38] sayurimizuguchi opened #83 "how to do something in a part of conversation"
How to perform some function but, if only get a part of the conversation with X intent and X entity?
I had one example with intent and entity, what I need is:

Example:
I have one context variable and this get the value.
Watson: Hi, what's your name?
User: Sayuri
Watson: Hi $name! //Sayuri in the case

And, after user said your name, I will execute something

I need one example with "if'. I confus

[2017-01-20 13:44] SirSpidey commented on #83
Hello @sayurimizuguchi

See the documentation, specifically [Developing your application](http://www.ibm.com/watson/developercloud/doc/conversation/develop-app.html) and Building a dialog > [Context variables](http://www.ibm.com/watson/developercloud/doc/conversation/dialog-build.html#context-variables).

Also see [StackOverflow](http://stackoverflow.com/questions/tagged/watson-conversation) and p

[2017-01-20 13:44] #83 closed

[2017-02-02 02:34] inngage opened #84 "How to update the context?"
Hi guys, how you doing?

First sorry for my noobie question.
It's possible to update the context object in app.js requesting conversation.message() function? I need update my context with the variable value returned from my backend and use it in Conversation node.

Thanks and best regards,
Vinicius

[2017-02-02 04:32] germanattanasio commented on #84
You control all the variables and values in `context`, you should be able to set a variable and send it to conversation

[2017-02-02 04:32] #84 closed

[2017-02-02 11:05] viniciusdepaula commented on #84
How we can to do this?

[2017-02-12 23:45] msauer-fr opened #86 "I get a blank page"
Hi,
I've followed all steps very carefully, but I get a blank page with no watson response.
The error is here (app.js).
[code]
I've tripled check the .env variables are ok, I've also tried to have directly in the code. No changes.
Can you help ?

[2017-02-12 23:55] #86 closed

[2017-02-13 16:18] sayurimizuguchi opened #87 "How access context variables from app.js"
Hi, good afternoon,
in the case I want to knows how I create one function for access the context variables inside app.js.
I does not use the updateMessage, i want create other just for access and do something after.
In the case updateMessage Is a function in realtime? right?

Example currently:
[code]

Thank u

[2017-02-18 07:10] kwiatks commented on #66
What was the name of the .env file you used ? does it have to be a particular name matching anything else ?  I get the "Error: Argument error: username and password are required unless use_unauthentic
ated is set" error even with a .env file (called car.env)

[2017-02-18 14:39] germanattanasio commented on #66
You need a .env file in the root of your project.
On Sat, Feb 18, 2017 at 1:10 AM kwiatks <notifications@github.com> wrote:

[2017-02-19 21:49] hborg004 commented on #66
the name was  just .env  nothing else

On Sat, Feb 18, 2017 at 2:10 AM, kwiatks <notifications@github.com> wrote:

[2017-02-20 20:09] mitchmason commented on #66
And it HAS to be just .env or else it won't work

[2017-02-20 22:31] tannerpreiss opened #90 "Documentation in conversation.js vs payload.js"
```The ConversationPanel module is designed to handle all display and behaviors of the conversation column of the app.```
https://github.com/watson-developer-cloud/conversation-simple/blob/dee3a25d7a47e994c248c4b01129867f9c2fd97d/public/js/conversation.js#L2

```The PayloadPanel module is designed to handle all display and behaviors of the conversation column of the app.```
https://github.com/wats

[2017-03-07 16:23] l-karlin opened #95 "Results are different from the Bluemix dashboard tooling test"
The results from the demo that was put together using this repo are  different from the results shown in the Conversation dashboard test for the same workspace.

Results from dashboard test
![dasboard-test-irrelevant](https://cloud.githubusercontent.com/assets/26254722/23665940/e1da959a-0327-11e7-97bb-8ef6be1bc314.png)

Results from demo:
![repo-demo-irrelevant](https://cloud.githubusercontent.com

[2017-03-07 18:04] mitchmason commented on #95
You are likely using two different API versions. The sample app is likely using an older API version and we are still in the process of updating it, while the tryoutpanel is likely the most up to date.
If you want the same answers, then youll need to update the API version in the sample app code, if you like the sample app responses, keep the old API version.

[2017-03-10 04:06] renderit opened #96 "Documentation mismatch"
Great work here! However, it seems maybe the UI and things have changed so I'm not able to follow some of the steps mentioned. Can you please help?
So:
[code]
I don't see this Import workspace, I'm guessing it's just the `Download json` option., but what is meant by "click Import". I'm trying to embed this app with my own conversation bot in another html page.
Or can I replace the `training/car-wo

[2017-03-10 06:56] mitchmason commented on #96
The import workspace is the line with an up arrow in it. That is so you can import some json workspace into your conversation tooling.

To embed your app in another page youll want to have your conversation workspace connected to this app via the .env credentials, and then likely embed the simple UI as an iframe or something like that.

[2017-03-14 05:38] happypotomous opened #98 "Error in App.js Code"
In app.js Line 43 should be:   if (!workspace || workspace !== '<workspace-id>') {

Right now its:   if (!workspace || workspace == '<workspace-id>')   Its super easy to miss it

[2017-03-16 19:16] #96 closed

[2017-03-16 19:17] #95 closed

[2017-03-16 19:21] mitchmason commented on #87
Im not sure I understand your question. Everytime you send a message to the service, you get the entire context back. So you can just examine that. If you have not yet sent a message, there would be no context.

[2017-03-17 16:55] germanattanasio commented on #98
* `(!workspace || workspace !== '')` will be true if the workspace is valid and if the workspace is `null`
 * `(!workspace || workspace == '')` will be true if there is a workspace and it's not an empty string

[2017-03-17 16:55] #98 closed

[2017-03-17 16:56] germanattanasio commented on #90
@tannerpreiss Thanks for the feedback, can you help us fix that with a PR ?

[2017-03-20 21:48] danrohtbart opened #100 "car_workspace.json can no longer be imported to Conversation service"
Please look into recent update(s) to car_workspace.json. Previous versions could be imported into Watson Conversation service using [your instructions](https://github.com/watson-developer-cloud/conversation-simple?cm_mc_uid=41548878224914893412698&cm_mc_sid_50200000=#import-a-workspace), but the new version cannot. Thanks, Dan

[2017-03-21 06:25] germanattanasio commented on #100
@stevenpkg can you look at this?

[2017-03-21 23:44] Oliver-I commented on #100
@danrohtbart Hi Dan, do you receive an error when you try to import the JSON file? If you do, can you let me know what error message you're seeing?

[2017-03-22 23:32] tommysusanto commented on #100
Bump +1, getting the same error too. It says " Unable to import workspace from file car_workspace.json. Error: Unable to parse input. Please ensure the uploaded file is valid JSON."

[2017-03-23 01:39] stevenpkg commented on #100
Are you downloading the project as zip file and get the car_workspace.json from there?

[2017-03-23 12:51] danrohtbart commented on #100
Thanks for confirming @tommysusanto . @stevenpkg I did Save As from https://raw.githubusercontent.com/watson-developer-cloud/conversation-simple/master/training/car_workspace.json.

[2017-03-23 17:02] ojikobeshi commented on #100
Any update posted concern? I am also experiencing the same issue. Can't import from master branch. The version of JSON file that works though is the one from commit 282b2c75607cd508cdedaa3ce82523a447e86e99

[2017-03-23 21:38] stevenpkg commented on #100
You need to download the project as a zip file and extract the car_workspace.json If you save the car_workspace.json directly it seem to get unwanted characters in it, and gives errors

[2017-03-23 21:51] abideandride commented on #100
I tried that (and cloning). I receive the same errors as the others.

[2017-03-23 22:16] stevenpkg commented on #100
Okay I can confirm the problem. Please use the version in commit https://github.com/watson-developer-cloud/conversation-simple/commit/282b2c75607cd508cdedaa3ce82523a447e86e99 for now, hopefully I will have a solution soon.

[2017-03-23 22:33] stevenpkg commented on #100
This should be fixed now, please let me know if you can now import okay

[2017-03-23 23:20] abideandride commented on #100
Unfortunately, I'm still getting the same error. I downloaded the zip file and extracted the new file.

[2017-03-23 23:52] stevenpkg commented on #100
@abideandride can you try this workspace

[car_workspace-no-formating.json.zip](https://github.com/watson-developer-cloud/conversation-simple/files/866485/car_workspace-no-formating.json.zip)

[2017-03-23 23:54] abideandride commented on #100
@stevenpkg That worked! Thanks!

[2017-03-24 00:04] stevenpkg commented on #100
Strange, the same file uploaded, but when you downloaded it, it didn't work. Can you check the json workspace you tried before in http://jsonviewer.stack.hu/ see if its valid and remove formatting, and try it again

[2017-03-24 00:11] abideandride commented on #100
That worked. I didn't think about removing the whitespace. I did verify it was proper JSON in a different editor.

[2017-03-24 00:16] stevenpkg commented on #100
Thanks @abideandride so I am not sure why the workspace is getting some funny formatting problems, but the answer is to clean the formatting in some online JSON validator. I am going to add a ziped version of the workspace that hopefully fixes the problem

[2017-03-24 00:24] tommysusanto commented on #100
@stevenpkg Thanks. The no formatting works

[2017-03-24 02:06] danrohtbart commented on #100
You all are awesome. Thanks for helping! The zip file works, but downloading even the new JSON file doesn't work for me. Once I run it through the validator at http://jsoneditoronline.org/ and save, it works. _I'm OK closing this as a known issue if you all are_

[2017-03-24 19:53] danrohtbart commented on #100
Confirmed that the changes @adamkingit made successfully fixed the problem for me, with no need to pass through a validator.

[2017-03-27 02:04] kmohanarangam opened #103 "unable to import /training/car_workspace.json"
Hi,
When importing the training file, bluemix is throwing "incorrect syntax" error.
See http://imgur.com/a/PARfR

Edit: Importing from Windows 64

[2017-03-27 20:29] germanattanasio commented on #103
I think this is a duplicate of #100

[2017-03-27 20:29] #103 closed

[2017-03-27 20:29] germanattanasio commented on #100
As you can see this is still happening (see #103)

[2017-03-28 00:17] #100 closed

[2017-03-28 06:00] kmohanarangam commented on #100
@stevenpkg  your fork works. However the one under https://github.com/watson-developer-cloud/conversation-simple is incorrect. Looks like merge didn't happen correctly.

I used your fork. Thanks for the quick response.

[2017-03-28 15:37] benisntfunny opened #105 "car_workspace.json invalid format"
edit: it's two lines repeated needs to be one
[car_workspace.json.zip](https://github.com/watson-developer-cloud/conversation-simple/files/876248/car_workspace.json.zip)

[2017-03-28 18:11] itumasov opened #106 "getting nmp error in terminal"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@4.1.2
3 info using node@v7.7.4
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle conversation-simple@0.1.1~prestart: conversation-simple@0.1.1
6 silly lifecycle conversation-simple@0.1.1~prestart: no script for prestart, continuing
7 info lifecycle co

[2017-03-28 18:28] sam-github commented on #106
Did you follow the directions, such as https://github.com/watson-developer-cloud/conversation-simple#configuring-the-app-environment ?

[2017-03-31 00:12] #105 closed

[2017-04-11 14:24] #87 closed

[2017-04-12 14:58] ttlew opened #108 "Sign Up link in readme is broken"
The first link is broken in the readme. It should be directed to: https://console.ng.bluemix.net/registration/?target=/catalog/%3fcategory=watson

[2017-04-12 14:59] ttlew commented on #108
@stevenpkg would you be able to fix this

[2017-04-12 22:34] stevenpkg commented on #108
Yes I can do this, which app is it you wish me to update?

[2017-04-12 22:45] stevenpkg commented on #108
sorry, to much on my mind, will update link in conversation-simple

[2017-04-12 23:28] stevenpkg commented on #108
Just need to check a couple of things. If I follow your link

https://console.ng.bluemix.net/registration/?target=/catalog/%3fcategory=watson

 I cannot see

2. From the All Items tab, click the newly created Conversation service in the Services list.

Should the link be this, where the new conversation service is?

https://console.ng.bluemix.net/dashboard/services

[2017-04-13 13:27] ttlew commented on #108
No this initial link I believe is to direct straight to the Bluemix registration page for new users. We provide the second link later in the readme to direct users to the Conversation service.

[2017-04-14 10:54] iraj4t opened #109 "This failure might be due to the use of legacy binary "node""
Use of legacy term node in the server.js file.I have attached a screenshot of my workspace.
![issue](https://cloud.githubusercontent.com/assets/12109933/25041608/cbb0cf8a-212e-11e7-82c9-39272892d673.JPG)

[2017-04-14 16:20] germanattanasio commented on #109
This is because you are using node < 4.0 and we are using es6.
Update your node version

[2017-04-15 10:03] iraj4t commented on #109
Is there any possibility for support of node < 4.0. If possible.
I have tried using node-legacy package in order to solve the issue but got frequent errors.

[2017-04-15 11:43] germanattanasio commented on #109
Node.js 4 let us write ES6 and enable as few features that we think are important. We could use babel but the decision was to use a newer version of Node.

Node 0.10 is not even supported in Bluemix so this won't make sense for the purpose of this sample

[2017-04-15 11:47] #109 closed

[2017-04-20 16:29] asidd opened #113 "npm start error pointing to issue with conversation-simple package"
[code]

[2017-04-23 13:08] mohanish12 opened #115 "npm start fails"
hi,

Application start fails with npm start with below error log.

c:\test\node_modules\watson-developer-cloud\lib\base_service.js:73
      throw new Error('Argument error: username and password are required unless
 use_unauthenticated is set');
      ^

Error: Argument error: username and password are required unless use_unauthentic
ated is set
    at ConversationV1.BaseService.initCredentials (c

[2017-04-25 14:22] ttlew commented on #113
@stevenpkg can you please take a look?

[2017-04-25 14:23] ttlew commented on #115
thanks for submitting an issue. we'll look into it @stevenpkg

[2017-04-26 03:10] stevenpkg commented on #115
Not sure what the problem is, can you run "npm test"

[2017-04-26 17:47] germanattanasio commented on #115
@mohanish12 make sure you follow the steps in the readme.md I think you are not specifying the username and password in the `.env` file

[2017-04-27 03:34] virtrap commented on #115
I've similar issue above. Went thru' readme.md few times and ensure myKey.env have the right credentials. No luck.

[2017-04-27 03:46] virtrap commented on #115
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\myapps\\nodejs\\node.exe',
1 verbose cli   'C:\\myapps\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@3.10.10
3 info using node@v6.10.2
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle conversation-simple@0.1.1~prestart: conversation-simple@0.1.1
6 silly lifecycle conversati

[2017-04-27 03:59] stevenpkg commented on #115
I just tried this from scratch, and everything was okay?

Let me just make sure you are following these steps:

1) clone or download the conversation-simple into a local folder

Then from within your folder containing conversation-simple repository
2) copy or rename "example.env" to ".env" (this is now a hidden file)
3) fill out
WORKSPACE_ID=<workspace-id>
CONVERSATION_USERNAME=<conversation-usern

[2017-04-27 04:14] virtrap commented on #115
My env file was not named'.env' .. After renaming like above, it works now. Thanks for your quick support.

[2017-04-28 02:45] #115 closed

[2017-04-29 11:49] mohanish12 commented on #115
hi,

I did not get the part about the .env file.
The package contains .env.example file. I populated the fields in it and
renamed it test.env.
If I just leave it as .env its not accepting as it says it needs a filename.

Please if you can help.

Thanks and Regards
Mohanish Mahajan

On Thu, Apr 27, 2017 at 9:29 AM, Steve Green <notifications@github.com>
wrote:

[2017-04-29 11:57] mohanish12 opened #117 "npm start fails"
Hi,

as per my issue reported earlier under issue#115
I had reported that npm start fails out.
The suggestions on that asked to change and rename .env file and to verify credentials.
I renamed the .env.example file to test.env and all values for Workplace ID, Conversation USername and conversation password are filled correctly. Blow is the error I am getting. Please if you can help

c:\test>npm st

[2017-04-29 12:59] mohanish12 commented on #115
hi Steve,

Yes I did this but this also didnt worked.

Thanks and Regards
Mohanish Mahajan

On Thu, Apr 27, 2017 at 9:29 AM, Steve Green <notifications@github.com>
wrote:

[2017-04-30 22:45] stevenpkg commented on #115
You must rename .example.env to .env

Perhaps the best way is on the command line

rename .example.env .env

[2017-05-01 07:43] mohanish12 commented on #115
hi Steve,

I tried as per your suggestion below however still got the same error. PFB
the error log:-
I have checked the .env file contents and they  contain the Workspace ID,
Username, Password of by Bluemix service conversation.
Let me know if we can have a remote session so that you can have a look
into it.

c:\test>npm start

c:\test\node_modules\watson-developer-cloud\lib\base_service.js:73

[2017-05-01 13:28] germanattanasio commented on #115
@mohanish12 As you can see in the error log you are missing the credentials for conversation.

You need to have a `.env` and it should contain the credentials for conversation otherwise, the app won't start.

As @stevenpkg said, there is nothing wrong on our side as your error is because you didn't specify the credentials.

[2017-05-01 13:36] mohanish12 commented on #115
Hi

I have a .env file and I have entered the credentials in there. But still
its not starting.
Below are the contents of my .env file. I am mentioning WorkspaceID,
Username and password as defined in help and .md file.
Please if you can help to know if I am missing anything. Actual content
ommited to preserve password

# Environment variables
WORKSPACE_ID=49fa48dexxxxxxxxxxx
CONVERSATION_USERNAME

[2017-05-01 23:53] stevenpkg commented on #115
If you are in windows, can you give me the result of running "dir" in the project folder containing the ".env" file in Mac or Linux run "ls -la"

[2017-05-03 12:31] harshalwavre7 commented on #117
Facing the Above mentioned Issue

[2017-05-04 13:29] harshalwavre7 commented on #75
@sayurimizuguchi can u please help how did u fix this issue

[2017-05-04 13:31] germanattanasio commented on #75
`npm start`

[2017-05-04 13:31] harshalwavre7 commented on #75
@sayurimizuguchi how did u fix this issue
![issue](https://cloud.githubusercontent.com/assets/26541367/25705788/2357c4aa-30fc-11e7-8453-ffb3c9b2a50e.png)

[2017-05-04 13:35] harshalwavre7 commented on #75
I am using npm start only and also the .env file has WORKSPACE_ID in it

[2017-05-04 13:57] germanattanasio commented on #75
You can always specify the `WORKSPACE_ID` in `app.js`

[2017-05-05 07:20] harshalwavre7 commented on #75
I am getting a blank page after specifying the WORKSPACE_ID in app.js

[2017-05-05 19:34] 1234hansel opened #118 "npm start does nothing"
hi,
so I did everything as described and it's not working out. npm install seems to work fine. npm start shows me this:
<img width="567" alt="screen shot 2017-05-05 at 21 32 27" src="https://cloud.githubusercontent.com/assets/28457298/25761227/70c087ac-31da-11e7-9f4e-87e2ba08d72d.png">

and it just stops there. and my app is therefor empty (local and on bluemix of course)

can you help me?

[2017-05-05 19:36] mitchmason commented on #118
what happens when you navigate to localhost:3000 ?

[2017-05-05 19:39] 1234hansel commented on #118
you mean in my browser?
shows me this:
<img width="1433" alt="screen shot 2017-05-05 at 21 38 03" src="https://cloud.githubusercontent.com/assets/28457298/25761488/3e736890-31db-11e7-89b0-c3dae1944951.png">

sweet nothings :/

[2017-05-05 19:47] mitchmason commented on #118
right, but that means the app is running, did you also configure the .env file correctly? dont paste it here obviously. also, what if you type a message? no response? if no response, that usually means .env is working because it knows the workspace_id, but something in app.js is not grabbing the username/password i think

[2017-05-05 19:50] 1234hansel commented on #118
no response and i think I double-triple checked the .env and it was all fine.
hm...I mean I have to login via a federated id, which shouldn't make any difference, but that's all I can think of.

[2017-05-06 15:32] mohanish12 commented on #115
hi Steve,

PFB the required output. Please if you can help resolve:-

c:\test>dir
 Volume in drive C has no label.
 Volume Serial Number is D8ED-F27B

 Directory of c:\test

05/01/2017  07:30 AM    <DIR>          .
05/01/2017  07:30 AM    <DIR>          ..
04/18/2017  02:32 PM                63 .cfignore
04/29/2017  12:55 PM               157 .env
04/18/2017  02:32 PM                 8 .eslintigno

[2017-05-08 02:56] stevenpkg commented on #115
Not sure I see you have a ".env" file. Can you email your ".env" file so I can test. Send to stevenpkg@au1.ibm.com

[2017-05-23 03:59] stevenpkg commented on #118
is this still an issue?

[2017-05-23 04:00] #108 closed

[2017-05-23 08:45] jpetitfils commented on #118
I've the same problem, when i check the console in my browser i've this error "Failed to load resource: the server responded with a status of 500 (Internal Server Error) :3000/api/message" i can send messages but no response :(

[2017-05-23 09:16] jpetitfils commented on #118
problem soveld don't use the username and password from the command "cf service-key my-conversation-service myKey" but those who are in your "Service credential" of your conversation

[2017-05-28 09:21] cool1122 opened #125 "cf push - yaml: line 7: did not find expected key"
Getting YAML: line 7: did not find the expected key issue when trying to push to bluemix.
Working fine in local

This is the content of my manifest.yml file
[code]

`Conversation-r7` is the service name. Have also run
[code]
 to create a key as described. It's working fine in local

[2017-05-29 10:32] marinaalens opened #126 "No credentials sent"
I am trying to connect my node.js app (cloned from github: https://github.com/watson-developer-cloud/conversation-simple
I supplied my workspace id, username and password in the .env file and when running npm start and navigating to localhost:3000 I just see the interface but when I send a message I get no response and a statuscode 401: Failed to load resource: the server responded with a status o

[2017-05-29 11:07] #126 closed

[2017-05-29 19:43] marinaalens opened #127 "Testing the app locally"
Hi
I am creating an app using the conversation-simple as a boilerplate. I have setup the app to use my own conversation instance, and it works beautifully - so thanks for that :-)

However, I cannot run the app locally. That is, when I do it doesn't use my conversation instance, but only shows the empty interface. The console shows an unauthorized error.

I hope someone can help me with this, sinc

[2017-05-30 13:56] mitchmason commented on #127
I think for running locally you need to make sure your .env if filled out appropriately. When run on bluemix, you can bind the services to your app via your manifest file, but locally the manifest doesn't do this as it doesnt have access to the bluemix bindings.

[2017-05-31 15:29] marinaalens commented on #127
Hi, I checked the .env file and the credentials are all correct. I am also logged using cf login when starting the app locally - I can't understand why it's not working :(

[2017-05-31 18:11] mitchmason commented on #127
Im really not an expert here, but you may want to just hardcode your stuff in app.js and ignore service binding/yml/env. <br>
this wont cause any problems unless you plan on switching out service instances later on.

[2017-05-31 18:11] mitchmason commented on #127
didnt mean to close that

[2017-05-31 18:58] marinaalens commented on #127
I tried hardcoding too - I also thought that might solve it, but no luck. Is there any other workaround that would prevent me from having to push the app every time I make changes? Can it be something with the portnumber? Really hope we can find a solution.

[2017-05-31 19:05] mitchmason commented on #127
what are you changing?
also, can you just outline the steps you are taking to run locally?
Its really just navigate to the right place, run npm install, and npm start assuming all your creds and workspace_id is there.

[2017-05-31 19:07] aprilwebster commented on #127
Hi @marinaalens - did you try running `npm install` and then `npm start` at command line?

[2017-05-31 19:16] marinaalens commented on #127
I ran npm install then npm start and navigated to localhost:3000 in my browser. The app is showing on the screen but with the following error in the console:
Failed to load resource: the server responded with a status of 401 (Unauthorized)

Then I tried writing all the authorization code in app.js (hardcoding username, password and wordspace id). Again, npm start and then the error says: POST http

[2017-05-31 19:21] marinaalens commented on #127
To be even more specific, here is the error message from the api call to watson (and yes, my username and password really is correct, I promise! :-):
{"code":401,"error":"Not Authorized","description":"2017-05-31T15:20:11-04:00, Error ERCDPLTFRM-DNLKUPERR occurred when accessing https://gateway.watsonplatform.net/conversation/api/v1/workspaces/--WORKSPACE ID--/message?version=2017-05-26, Tran-Id:

[2017-05-31 19:37] aprilwebster commented on #127
Hmm.  Sorry I missed the first bit about getting an empty ui.  I'm not sure what release you're using, but given the error perhaps you somehow instantiated the experimental or beta conversation instance?  What's the url listed with your credentials?

You can confirm that you make calls to your workspace using the curl commands from the API to start - that way you don't have to worry about there be

[2017-05-31 19:46] marinaalens commented on #127
The URL listed with my credentials is: https://gateway-fra.watsonplatform.net/conversation/api
Not sure why it's different from the one you posted though..

[2017-05-31 19:48] mitchmason commented on #127
ah ha! so the sample app is using the US based instance, and you are using the Frankfurt based instance. You will likely need to find the url in app.js? or maybe its buried somewhere in the sdk... and change the url to what you have there rather than whats in the sample app.
When you upload to bluemix, it binds it to your app so it must be able to resolve that itself.

[2017-05-31 19:49] marinaalens commented on #127
It works now! Changed the URL and there you go.... wow a stupid issue. Sorry to have bothered you and thank you both a million times!

[2017-05-31 19:50] aprilwebster commented on #127
No worries. :)  Have been there too.

[2017-05-31 20:02] mitchmason commented on #127
I will actually ask to have this added to the sample app readmes because its not super obvious.

[2017-05-31 20:02] #127 closed

[2017-06-06 13:08] virginiap1 commented on #118
I had a similar problem: after npm start I got message that server is running, but there was nothing displayed  for me. Then I've realised I had some empty files in my project, probably there was a problem when I've downloaded the files. I've copied manually the files which were empty and everything is working fine now

[2017-06-06 21:40] #118 closed

[2017-06-14 13:31] sorcamarian opened #131 "POST 401 error - "/api/message""
Hi,

I receive this error message in the console:
"POST **/api/message** 401 (Unauthorized)"

1) I installed all the dependencies
2) I renamed the file `.env.example` to `.env ` and I _added my credentials_
3) `npm start `

[code]

`http://localhost:3000/api/message 401 (Unauthorized)`

![image](https://user-images.githubusercontent.com/12509753/27134027-e9883340-511c-11e7-88ff-6d799b02fa3b.png)

[2017-06-14 17:58] sorcamarian commented on #131
I found the answer. https://github.com/watson-developer-cloud/conversation-simple/issues/127#issuecomment-305296443

This problem was only locally, when I pushed the app on Bluemix everything worked fine.

I will update this.

[2017-06-14 22:08] #131 closed

[2017-06-14 22:08] Oliver-I commented on #125
@stevenpkg Can you take a look at this?

[2017-06-14 22:09] Oliver-I commented on #117
@stevenpkg would you be able to help here?

[2017-06-14 22:11] Oliver-I commented on #106
@itumasov Are you still experiencing this error?

[2017-06-14 23:04] stevenpkg commented on #117
The ".example.env" MUST be renamed to ".env" (nothing before the dot) and have the correct credentials for the conversation service

[2017-06-14 23:08] stevenpkg commented on #125
Just leave the manifest as

`---
declared-services:
  my-conversation-service:
    label: conversation
    plan: free
applications:
- name: conversation-simple
  command: npm start
  path: .
  memory: 256M

  instances: 1
  services:
  - my-conversation-service
  env:
    NPM_CONFIG_PRODUCTION: false`

And rename service if need be. Once your app is created, you can always edit whice conversation

[2017-06-16 22:38] Lopics opened #132 "Using temporary storage."
I'm using simple-bot and my bot keeps restarting conversation rather continuing on the same one. Additionally, it would reply with dialog with given intents (such as #intent) and would ignore welcome and anything_else dialogs.

- Tried run as administrator.

info: ** No persistent storage method specified! Data may be lost when process shuts down.
info: ** Setting up custom handlers for processing

[2017-06-16 23:18] mitchmason commented on #132
It looks like your sending and receiving messages from slack? the simple app is a web app, so doesnt typically interact with slack. I take you have modified the app? if so, its very hard to say where it could be going wrong.

[2017-06-16 23:23] Lopics commented on #132
Sorry for not indicating that I'm using this bot for slack. The simple and multi bots in the examples folder can integrate with slack without modification. Infact, if you check .env files they ask you for your slack token.

[2017-06-16 23:25] Lopics commented on #132
You're right, I made a mistake by posting to the wrong repository. I apologize for the inconvenience.

[2017-06-16 23:25] #132 closed

[2017-06-16 23:31] mitchmason commented on #132
no problem...im sure ill see you on the conversation-middleware repo soon!

[2017-06-20 15:35] lilicolls commented on #65
Hi, I used this and worked perfectly... thank you for sharing this. Now I'm wondering how can I hide a button after a user clicked on it, so he won't be able to use the same button twice

[2017-06-21 19:40] jrzam92 opened #133 "How to get variable of the method of mysql and pass that variable to the response?"
Hi
Im impementing the conversation service with mysql but i have a doubt in the file app.js
when i put one variable workspace side and i get it i change the variable for the input of the user but when i implement the query for seek the user i put a global  variable to get the value of the quey  that im calling for the response.
the code is this:

[code]

[2017-06-22 02:12] germanattanasio commented on #133
@jrzam92 is not clear what you are trying to do.

[2017-06-22 02:12] #133 closed

[2017-07-13 19:51] juanmusto commented on #65
Hi,

Im using this repo https://github.com/watson-developer-cloud/conversation-simple, and i try add the functions yesBtn and noBtn, but i have an error console: undefined function, im really new with node js and a i dont understand why its not working.

Thanks

[2017-07-13 20:25] lilicolls commented on #65
Hi, you need to create the function like she did in the example otherwise you would get that error.

Edit the index.html file that you have in the folder and add the script that is in the 2 picure

[2017-07-14 06:18] akshitabansal97 opened #135 "Blank page"
The project is running like this on local machine. Please help me figure out the problem.The screenshot is provided below.

![image](https://user-images.githubusercontent.com/19350462/28200487-152810cc-688a-11e7-9a9a-ad3ee1e09af3.png)

[2017-07-14 12:28] juanmusto commented on #65
Thanks lilicolls,

Another question is possible based on a watson response, connect to an external api, such as google maps.

When requesting a watson address interpret it and show me a google map.

Thanks

[2017-07-14 14:24] ajborley opened #136 "Slightly NSFW example in the #turn_on intent"
One of the examples in the #turn_on intent is: 'play a porn movie'

I expect this was from real world data collected a long time ago :)

[2017-07-14 14:56] mitchmason commented on #136
I actually would think this was something recent that was missed. We didnt use much old data in this demo tbh. This just proves that you can't stop people from saying whatever they want, and realistically want to be prepared for at least some of it. In most use cases, you certainly don't want to encourage them to keep going down certain paths, but you do want to prove you understand what they are

[2017-07-17 19:12] mjpradeep commented on #65
hi,
I have added above button code in index.html , when i click on the yes/no button its showing " Uncaught ReferenceError: APi is not defined" error.

[2017-07-20 01:56] #136 closed

[2017-07-20 03:01] Oliver-I commented on #135
@stevenpkg Can you look into this?

[2017-07-20 03:05] stevenpkg commented on #135
Can you please provide more information on how you are building the project and running, any errors etc

[2017-07-20 03:07] stevenpkg commented on #135
I suspect that you do not have the conversation service credentials setup correctly

[2017-07-20 22:38] salmaadel opened #137 "Application running without watson conversation answering on input user"
this is the link of the app I pushed. Kindly review for help

https://nbdnew.mybluemix.net/

[2017-07-21 09:48] salmaadel commented on #137
@stevenpkg  can you check please why watson conversation not working in app

[2017-07-22 10:12] salmaadel commented on #135
I have same problem. Watson conversation is not sending any response although credentials are right

[2017-07-24 03:01] stevenpkg commented on #135
still need more info, and error logs?

[2017-07-27 12:42] dipakdotyadav opened #139 "500 Internal Server Error"
After running the node server the page loads fine but the chat bot doesn't work.
looking in the console i found below headers

[code]

and response as `{"error":"Resource not found"}`

On console it logs:
[code]

[2017-07-27 13:14] mitchmason commented on #139
resource not found typically means the credentials or workspace_id were invalid. Can you verify you used the correct info? Navigate to the deploy tab in the conversation UI, The circle with an arrow around it on the left tab, and you'll see all the info you need.

[2017-07-28 10:03] dipakdotyadav commented on #139
Hi @mitchmason , Thanks , but now i am getting another error `{ error: 'NLU Service Error: Protocol error' }` in file /conversation-simple/node_modules/watson-developer-cloud/lib/requestwrapper.js:88:15

[2017-07-30 17:26] agomez314 opened #140 "Intent confidence"
Hello,
This repo is super awesome. I like to use it as a starting point to develop Watson chatbots so thanks for that. I'd like to know why the intent confidence text is never displayed in my application? The original code from app.js is the following (and it still is for mine):

[code]

I have never received a response from Watson with the above text. Why is this? Is the JSON training overriding

[2017-07-31 23:44] mitchmason commented on #140
This is actually from a previous version of the app that has since been overwritten. There was a point in time where the service did not have a dialog engine, only intents and entities, so the app was going to simply display the intents returned to the user. We should probably remove this code now, ill work on getting that prioritized.
now it displays the results from the dialog output instead.

[2017-08-02 14:25] agomez314 commented on #140
Thank for that. Where can I find a starter template for an app that uses the jobs API and natural language understanding? Thanks!

[2017-08-02 14:27] agomez314 commented on #140
Thanks for that! also, I'd like to make a cognitive job-hunting app that uses the UBX API and NLA to match jobs according to your resume. Where can I find a starter template for that? Thanks!

[2017-08-02 14:27] #140 closed

[2017-08-10 19:01] akshitabansal97 commented on #135
No. Still same problem persists.

[2017-08-10 22:31] stevenpkg commented on #135
WORKSPACE_ID=<workspace-id>
CONVERSATION_USERNAME=<conversation-username>
CONVERSATION_PASSWORD=<conversation-password>

[2017-08-11 04:48] akshitabansal97 commented on #135
@stevenpkg  Sir I have used the imported json carworkspace as workspace id and conversation username and password from the output of cf service-key my-conversation-service myKey. Please verify if I'm using the right credentials.

[2017-08-18 15:34] RogerIBMSnook opened #142 "Wish: can we get a toolchain/deploy to Bluemix button?"
Would be handy to have a "deploy to Bluemix" button similar to the very nice Personality Insights demo.

[2017-08-20 21:34] germanattanasio commented on #142
This and other sample apps are available here https://console.bluemix.net/developer/watson/starter-kits

[2017-09-07 10:44] miksch27 commented on #137
Well, I mixed password and userid. The WCS credentials generates userid and password. The userid has more digits than the password. After that my conversation-sample works well..

[2017-09-07 13:26] #137 closed

[2017-09-20 12:53] BennyHoang commented on #135
@akshitabansal97 did you remember to rename .env.test to .env? I had same problem, but it worked after i renamed the file

[2017-09-20 13:05] BennyHoang commented on #139
@dipakdotyadav are you sure you are using the proper service? NLU looks like the Natural Language Understanding service.

[2017-09-20 15:15] germanattanasio commented on #139
@dipakdotyadav this was probably an error in the service, not this sample app. I'm going to close this but let me know if you still see it.

[2017-09-20 15:15] #139 closed

[2017-09-20 15:17] germanattanasio commented on #135
@akshitabansal97 I just tried this sample and it's working. Please check your environment.

[2017-09-20 15:17] #135 closed

[2017-10-06 03:41] germanattanasio commented on #117
This is working for me. Make sure the `.env` file has all the required arguments

[2017-10-06 03:41] #117 closed

[2017-10-06 03:41] germanattanasio commented on #106
closing due inactivity

[2017-10-06 03:41] #106 closed

[2017-10-06 03:42] germanattanasio commented on #113
closing due inactivity

[2017-10-06 03:42] #113 closed

[2017-11-15 23:41] #125 closed

[2017-11-15 23:42] #90 closed

[2017-11-15 23:50] stevenpkg commented on #142
Do you mean like the the deploy to blue mix in the car dashboard?

https://github.com/watson-developer-cloud/car-dashboard

[2017-11-28 21:55] stevenpkg commented on #142
@RogerIBMSnook thank you for your suggestion, I will add this to the wish list

[2017-11-28 21:55] #142 closed

[2017-12-06 09:05] kootenpv opened #149 "Development, testing, acceptance and production"
I realize it is a bit out of place, but I'm hoping someone here has an answer.

Is it correct to assume that for "development, testing, acceptance and production" we should only make use of 1 Watson Conversation Service, or would it be advisable to use multiple?

[2017-12-06 14:49] mitchmason commented on #149
Its really up to you. Lite/Standard instances are free so its no problem to have multiple. I typically don't, I just keep them in a single instance with multiple workspaces, its just easier for us to manage. Most clients do the same. But a few do have multiple instances because they want the separate credentials to avoid any possible confusion or accidental pushing to prod.

[2017-12-06 16:12] kootenpv commented on #149
Thanks a lot, I guess it really does depend on multiple factors!

[2017-12-06 16:12] #149 closed

[2017-12-09 09:43] Rou9aya commented on #115
Did you solve the problem! I have the same one

[2017-12-10 21:30] stevenpkg commented on #115
Was not sure what the problem was? If you have a simular problem, please send me the console errors so I can have a look

[2017-12-11 06:33] Rou9aya commented on #115
thnx it worked

Le 10 déc. 2017 22:30, "Steve Green" <notifications@github.com> a écrit :

[2018-02-06 20:50] Samgill175 opened #151 "Failure at NPM start"
Hello, after following the steps within the ReadMe my npm start is failing. I'm getting the following error. I've altered the .env file to include the correct security credentials for the appropriate workspace.
[code]

[2018-02-06 22:24] germanattanasio commented on #151
You need to specify your service credentials. The error is saying that you didn't specify username and password

[2018-02-09 19:15] Samgill175 commented on #151
Yep, the issue was that was the .env file wasn't saved properly. Issue resolved.

[2018-02-09 19:15] #151 closed

[2018-03-14 01:19] santiago-elustondo commented on #139
I am getting a 500 error, started happening today out of nowhere.
<img width="346" alt="screen shot 2018-03-13 at 9 19 10 pm" src="https://user-images.githubusercontent.com/10526720/37378114-3362ed12-2704-11e8-9aa3-a45024c12046.png">

[2018-03-14 04:51] mitchmason commented on #139
There was a brief outage around this time, it has been resolved now.

[2018-03-25 10:09] gxvigo opened #159 "concat-stream-1.5.2 site unreachable"
Hi There,

I am building an app using watson-developer-cloud but npm install fails due to the following site unavailability:
http://173.192.225.82:8080/c/concat-stream/_attachments/concat-stream-1.5.2.tgz

[2018-03-25 18:33] germanattanasio commented on #159
delete the `package-lock.json` file and run `npm install` again.

[2018-03-25 20:38] gxvigo commented on #159
Thanks, it worked like a charm.

Cheers.

[2018-03-25 20:38] #159 closed

[2018-03-30 20:34] isu006 opened #160 "401 Authorization Error connecting to watson service"
I am able to run local, and push to cloud foundry... Just takes text input, and displays it. Verified service username, pass, and Workspace ID's are correct.  Any ideas?

Fails here
    // Send request
    http.send(params);
  }

[2018-03-30 20:43] isu006 commented on #160
Figured it out... I left brackets in, lol.. .Working

[2018-03-30 20:43] #160 closed

[2018-04-03 13:32] freeOuss commented on #65
@ashleylord8  you are a life saver, thank you

[2018-04-05 14:09] freeOuss commented on #65
@mjpradeep hey i had the same issue, you should just modify the context variable as follows: `var context = Api.getResponsePayload.context;`

[2018-04-06 11:54] germanAdrian opened #161 "IFrame version - parentpage interaction"
Hey,

I am currently trying to build an Iframe version that is supposed to interact with the parent page.

My plan is to perform actions on the page according to the detected intent & entity values.

My problem: I can not figure out how to access the answer (response) coming from IBM Assistant.
Is there any possibility to access this Object?

Thank you for your support in advance.

[2018-04-09 12:44] germanattanasio commented on #161
You can't access the data from the iframe unless you are running in the same domain. Try deploying this app instead of using the deployed version as iframe.

See https://stackoverflow.com/questions/1451208/access-iframe-elements-in-javascript

[2018-04-09 12:44] #161 closed

[2018-04-16 15:06] Khezo opened #163 "I don't have response"
Hi,

I don't understand my error, i check credentials and it's ok, but i don't have response from watson.
Thanks !!!

[code]

[2018-04-17 14:36] Khezo commented on #163
it was a security problem, I didn't have some access. you can close the issue
 thank you very much

[2018-04-17 14:40] #163 closed

[2018-04-23 18:16] mamoonraja opened #165 "Add GDPR Language to Stand Alone Demo Pages"
**Context:**
GDPR will go into effect on May 25th; we need the demos to display the following language in order to make them compliant with the law:

`This system is for demonstration purposes only and is not intended to process Personal Data. No Personal Data is to be entered into this system as it may not have the necessary controls in place to meet the requirements of the General Data Protectio

[2018-04-27 14:07] mamoonraja commented on #165
@stevenpkg Can we prioritize this issue? Please let me know if you need any help from our team on any of the demos.

[2018-04-28 01:49] stevenpkg commented on #165
Hi @mamoonraja I maintain about 3+ Watson Assistant and Discovery demo's, I am not sure if any of then use watson-react-components, can I just look in the package.json file, or is it more complete then that? These are the main demos I look after:

https://github.com/watson-developer-cloud/assistant-simple
https://github.com/watson-developer-cloud/car-dashboard
https://github.com/watson-developer-c

[2018-04-29 23:27] stevenpkg commented on #165
@germanattanasio
Hi @mamoonraja can we have a talk on my Tuesday morning, or a time that your free. I need to fully understand what you need me to do.

[2018-04-30 13:50] mamoonraja commented on #165
@stevenpkg We need to add the disclaimer, see https://natural-language-classifier-demo.ng.bluemix.net/ for example.

you don't even need to update `package-lock.json`.

[2018-04-30 23:13] stevenpkg commented on #165
@mamoonraja I do not have edit permission for the conversation demo github pages @germanattanasio can you give me permission to make the changes

[2018-05-02 13:35] mamoonraja commented on #165
@stevenpkg which demo? I just checked and you have write access to https://github.com/watson-developer-cloud/assistant-simple, https://github.com/watson-developer-cloud/car-dashboard and https://github.com/watson-developer-cloud/assistant-with-discovery

[2018-05-02 14:09] germanattanasio commented on #165
You can also fork the repo and do a PR.

[2018-05-02 22:24] stevenpkg commented on #165
Are we adding the disclaimer to the GitHub description for each demo, or are we adding the disclaimer to the readme? If it is the readme then no problem, but I see no edit button next to GitHub page description to edit.

[2018-05-03 00:16] stevenpkg commented on #165
![How does this look](https://user-images.githubusercontent.com/23624214/39555210-dc6d415e-4eba-11e8-98e7-288baf7c1a10.png)

[2018-05-04 21:27] mamoonraja commented on #165
@stevenpkg Please take a look at https://github.com/watson-developer-cloud/natural-language-classifier-nodejs/pull/56. You can do something like that.

[2018-05-07 23:11] stevenpkg commented on #165
![screen shot 2018-05-08 at 9 07 41 am](https://user-images.githubusercontent.com/23624214/39729474-5b95b208-529f-11e8-9e38-1c635abdc0b4.png)

@mamoonraja If you are happy with this I will do the same to car dashboard and assistant with discovery

[2018-05-09 21:19] floresam opened #168 "App fails to stage on IBM Cloud."
Deploying this sample application to IBM Cloud fails to stage. I am able to do npm install locally and run the app without error. I'm working on this now but wanted to make the team aware. Will update when I figure it out.

Staging...
-----> IBM SDK for Node.js Buildpack v3.20-20180403-1426
       Based on Cloud Foundry Node.js Buildpack v1.5.24
-----> Creating runtime environment

       NPM_CONF

[2018-05-09 22:13] stevenpkg commented on #165
@desmarchris have created a pull request for all 3 demos, assistant-simple, car dashboard, and assistant-with-discovery

[2018-05-09 22:36] floresam commented on #168
I am able to get cf push to work by modifying package.json to use node version 8.x.x instead of 6.9.x
`  "engines": {
    "node": ">= 8.x.x",
    "npm": "> 3.10.x"
  }`

[2018-05-09 22:36] #168 closed

[2018-05-09 23:12] germanattanasio commented on #165
@mamoonraja please assist @stevenpkg reviewing and merging this PR if is ready

[2018-05-11 18:05] mamoonraja commented on #165
All the PR's were merged earlier today.

@stevenpkg Can you deploy the latest version for https://github.com/watson-developer-cloud/assistant-with-discovery because I remember you use to deploy it manually.

[2018-05-13 23:44] stevenpkg commented on #165
@mamoonraja I have created and tested assistant-with-discovery-new and all okay. Will you change URLs and rename etc?

[2018-05-18 19:44] mamoonraja commented on #165
`assistant-with-discovery` is updated.

[2018-05-18 19:44] #165 closed

[2018-06-03 12:20] MohammedFadin opened #170 "App fails to run locally (401 Unauthorized)"
Hi,

Since the new update, I'm not able to run application locally. I keep getting the below messages from browser console.

It's worth to mention that the application works fine on the cloud but not locally.

<img width="1438" alt="screen shot 2018-06-03 at 3 17 14 pm" src="https://user-images.githubusercontent.com/2106384/40886500-a5ba0468-6741-11e8-9c4b-e19a8b90c8fa.png">

[2018-06-03 18:50] germanattanasio commented on #170
It's probably the credentials.
Make sure you have an `.env` file with valid credentials. Check the README for more information.

[2018-06-04 23:12] Oliver-I commented on #170
@MohammedFadin Are you still experiencing this issue?

[2018-06-11 06:40] TarunTater opened #171 "Import csv not working and the error statement is not helping"
I have a csv file as specified in the format for the csv for importing intents in the Watson conversation service. The format specified is example1, intent1. When I upload a CSV file with this template, I get the error :

Since I cannot see any error in my file, is there a way to understand better why this error is thrown?

[2018-06-18 00:18] #170 closed

[2018-06-20 16:36] priyankaghule2906 opened #172 "Error: Argument error: username and password are required for LANGUAGE TRANSLATOR V2 unless use_unauthenticated is set"
I am also facing the same issue. App is not starting while restaging and throwing error "Error: Argument error: username and password are required for LANGUAGE TRANSLATOR V2 unless use_unauthenticated is set".

The Project which I downloaded from below link does not contain .env file
https://github.com/ibmecod/watson-parrot-nodejs/archive/master.zip

[and I use sso password for logging in to the b

[2018-06-20 21:02] mitchmason opened #173 "add messaging for using in Sydney and IAM"
Please at least add a message for how to use with IAM. To do so, two things are needed.
1. Update app.js to look for url and api-key instead of username/password
[code]
2. Update .env to give this info
[code]
Eventually we need to update the app to just work for all regions/authentications, but that can come over time

[2018-06-21 00:49] Oliver-I commented on #173
@stevenpkg Can you look into this?

[2018-06-21 02:31] stevenpkg commented on #173
@mitchmason I can look into this, may be we can we can leave username and password, but if you fill out .env with URL and IAM_APIKEY it will use that?

[2018-06-21 02:31] Oliver-I commented on #172
@stevenpkg Can you look at this?

[2018-06-21 02:38] mitchmason commented on #173
Yes please do not break what is already working in the us and Germany. You can just add a note to the readme of what I said above.
Or if you can make it so it uses whatever you provide that would be great, but obviously more work on your guys side.

We should do this for all the sample apps as well for anyone in Sydney.

[2018-06-21 04:37] stevenpkg commented on #173
@michelle-miller From what I can see you do not need ASSISTANT_URL?

var watsonAssistant = new AssistantV1({
    version: '{version}',
    iam_apikey: '{iam_api_key}'
  });

[2018-06-21 04:52] mitchmason commented on #173
The url for Sydney is different so I’m pretty sure it currently assumes us south. For iam it’s in Sydney

[2018-06-25 02:39] qntbkk commented on #65
Hi all,
I got this error on conversation.js

conversation.js:124 Uncaught TypeError: Cannot read property 'querySelectorAll' of null
    at displayMessage (conversation.js:124)
    at Object.Api.setRequestPayload (conversation.js:38)
    at Object.sendRequest (api.js:55)
    at yesBye (index.html?profile=Responsive:201)
    at HTMLButtonElement.onclick (index.html?profile=Responsive:1)

any update

[2018-06-25 16:19] mitchmason commented on #173
This has just grown... us east also uses IAM, and we need instructions for using across all different regions and auth processes.

[2018-06-25 22:19] stevenpkg commented on #173
Until I add the extra IAM parameters in the .env and add the code to use it, no Assistant demos can use IAM API key. Once in, you should just need your IAM API-KEY and URL for the region.

[2018-06-27 00:07] JoseAvalos opened #174 "Request HTML"
I am looking to watch just the chatbot without the righ information bar but I can't edit in the html file.

Where I have to edit the file?

[2018-06-27 00:56] #172 closed

[2018-06-27 00:58] stevenpkg commented on #174
@JoseAvalos are you talking about the JSON area on the left?

[2018-06-27 01:04] Oliver-I commented on #171
@TarunTater Are you still experiencing this issue?

[2018-06-27 02:39] JoseAvalos commented on #174
Yes. I just wanna get the chatbot area.

El mar., 26 jun. 2018 7:58 p. m., Steve Green <notifications@github.com>
escribió:

--
La información contenida en este e-mail y sus anexos es confidencial,
privilegiada y está dirigida exclusivamente a su destinatario, en
consecuencia, solo puede ser utilizada por aquel. Si usted no es el
destinatario original, no deberá examinar, usar, copiar o distribuir

[2018-06-27 03:51] stevenpkg commented on #174
This is a very simple chat bot, maybe look at this https://github.com/stevenpkg/test-ui

[2018-06-27 07:42] TarunTater commented on #171
Missed the notification somehow. It was a problem with the plan. I had more intents than the limit for my plan and it was giving this error. Maybe a better framed error response could help. Thanks :)

[2018-06-27 07:42] #171 closed

[2018-07-03 02:12] stevenpkg commented on #173
This has been completed. See https://github.com/watson-developer-cloud/assistant-simple/pull/175

[2018-07-03 02:13] #173 closed

[2018-07-03 02:13] #174 closed

[2018-07-03 19:32] mbamba71 commented on #173
Thanks @stevenpkg. @mitchmason can you please confirm this is done and sample apps are good for RC/IAM?

[2018-07-03 22:43] mitchmason commented on #173
At a glance it looks good. If I hear any negative feedback we can reopen

[2018-07-03 22:52] stevenpkg commented on #173
I will work on Car Dashboard next

[2018-07-10 05:45] YathendraPrasad opened #176 "401 Unauthorized when accessing watson assistant service using apikey"
I am trying to access the watson assistant service in sydney region using apikey .

My assumption is that the Swagger JSON will be same across all the regions for the watson assistant service .

So i am using the JSON from
https://watson-api-explorer.ng.bluemix.net/listings/conversation-v1.json .

As part of our product we generate adapter to access assistant service . When ever i try access servi

[2018-07-10 09:43] YathendraPrasad commented on #176
@stevenpkg : Please help me to resolve the issue reported above .

[2018-07-10 21:57] stevenpkg commented on #176
@YathendraPrasad I not sure I can help you here, @germanattanasio can you advise

[2018-07-11 11:50] YathendraPrasad commented on #176
I was able to get the answer for my question from WDC-Conversation slack channel .

[2018-07-11 11:50] #176 closed

[2018-07-13 12:30] lat94 commented on #65
Is there any new advance on implementing buttons on Alice with this [https://console.bluemix.net/docs/services/conversation/release-notes.html#change-log](url)  (12 July 2018) new update?

[2018-07-13 15:00] mitchmason commented on #65
@juanmusto see this for making external api calls:
https://console.bluemix.net/docs/services/assistant/dialog-actions.html#dialog-actions

[2018-07-13 15:01] mitchmason commented on #65
@lat94 The pattern is still the same. We have not updated this sample app at this time to use the syntax generated there, we can create an issue but resources are short for making improvements.
The pattern is the same except that now in the Watson Assistant GUI you have a simple way of generating the JSON similar to what Ashely defined above.

[2018-07-13 15:02] mitchmason opened #177 "Add support for new response types"
Enhance this sample app to display buttons, images, and pause option.

[2018-07-13 18:28] germanattanasio commented on #177
Maybe we could use the work that Ethan is doing with the chabot component

[2018-07-13 18:35] watson-github-bot opened #179 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-13 19:20] #179 closed

[2018-07-16 04:32] Oliver-I commented on #177
@mitchmason We're overhauling the workspace to include the above where possible and to simplify the flows with frames, MCR etc.

[2018-07-16 04:32] #177 closed

[2018-07-19 07:27] maclean-stu opened #182 "Documentation in step 7 is incorrect."
The documentation instructions for authentication setup is misleading. The example shows IAM as being in the US South and Basic as being in the Sydney regions and as a consequence also confused the gateways. However, Basic is in US South and IAM is used in Sydney. This has caused some confusion for new Sydney based customers trialing the service sample.

I have updated the text below to correct th

[2018-07-19 13:12] #182 closed

[2018-07-24 10:57] AlaGarali commented on #65
Dear @ashleylord8 ,
Thank you for button example. It works very well.
On the other hand, do you have an example of a button-list with its items are defined as soon as the button-list is declared or filled with entity or filled with data from database ?
Example: size = Small, Medium, Large. In order to facilitate the manipulation and guide the user, this variable can be put in button-list.
Thanks.

[2018-07-26 01:12] Oliver-I commented on #179
@stevenpkg is this something we need to look into?

[2018-07-26 01:13] Oliver-I commented on #182
@stevenpkg FYI

[2018-07-26 16:32] germanattanasio commented on #179
No oliver, it's part of the semantic release.

[2018-08-07 22:35] jchblsc opened #184 "Empty Response Causes Failure"
This code in app.js fails when Watson Assistant has no response.  From a node with no response text.  Node v7.10.1.

[code]

with error:

[code]

Also the assumption that there will be only one text response from Watson Assistant is problematic as there may be multiple text responses.  This code will miss anything other than the first response.  This could happen when a node has 'skip user input'

[2018-08-07 22:43] jchblsc opened #185 "input autofocus"
You might want to consider adding `autofocus`  to the to the "Type something" input box in index.html.  To eliminate the need to click there before typing.  Like this:

[code]

[2018-08-10 15:27] germanattanasio commented on #184
@NEigenfeld Can you look at this?

[2018-08-10 18:26] #185 closed

[2018-08-10 22:48] mitchmason opened #187 "weird gap on Firefox and chrome"
when viewing in Firefox or chrome, there is a large gap between the chat and the json on the right.

[2018-08-20 00:37] Oliver-I commented on #187
@stevenpkg Can you take a look at this?

[2018-08-21 14:36] noah-eigenfeld commented on #184
In the case that the application returns an empty response, should there be some output anyway to indicate to the user that they should not wait for a response?

For example, in the function updateMessage in app.js, we update the response text based on the confidence of the response. If confidence is too low, the response gets changed to "I did not understand your intent." Should a similar message

[2018-08-21 14:59] avi-narayanan opened #188 "Deploying to IBM Cloud - Error with service instance"
Getting app info...
Service instance my-watson-assistant-service not found
FAILED

[2018-08-21 17:12] #188 closed

[2018-08-21 17:41] germanattanasio commented on #184
fixed in #189

[2018-08-21 17:41] #184 closed

[2018-08-22 23:28] Confidenceiskey opened #190 "Can't clone any of the ".filename" files to my local machine"
I'm following the instruction in the readme and am on step 6.

I forked the project to my repository and git cloned to my local machine. However, when I open up the project folder on my local machine it is missing all the files in the picture below.

<img width="160" alt="image" src="https://user-images.githubusercontent.com/22338256/44494413-fcd98900-a641-11e8-812b-b9aa323df526.png">

How can you

[2018-08-23 15:58] germanattanasio commented on #190
Some operative systems thread files that start with `.` as hidden files.

If you are using mac you can change that following the steps here https://ianlunn.co.uk/articles/quickly-showhide-hidden-files-mac-os-x-mavericks/

[2018-08-23 20:41] Confidenceiskey commented on #190
@germanattanasio, thank you so much! This was the exact problem!

I didn't realize Macs hide files that start with a ```"."``` by default.

Cheers

[2018-08-23 20:41] #190 closed

[2018-09-03 01:36] Beastjdhr commented on #187
Hey, I'd like to work on this issue.

[2018-09-03 03:09] stevenpkg commented on #187
I am currently looking into this

[2018-09-04 01:46] stevenpkg commented on #187
@mitchmason  The chat area on the left is centred in the leftover space from the JSON area on the right. I think this is okay. Otherwise we would have to left or right justify the chat area, or have the chat area take up all the available space. My preference is to leave it as it is?

[2018-09-06 23:33] sagarvadodaria opened #192 "Error with npm install and npm start"
Hi.I am new to this, hence please bear with me.
IS this only supported for linux? I am running this app in Windows Server 2012 and get the error as below. I have updated npm and nvm.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! phantomjs-prebuilt@2.1.16 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs-prebuilt@2.1.16 install script.
npm ERR! This i

[2018-09-06 23:38] sagarvadodaria commented on #192
F:\Bot Samples\ibm\assistant-simple-master>npm start

aster

Server running on port: 3000
_http_server.js:208
    throw new ERR_HTTP_INVALID_STATUS_CODE(originalStatusCode);
    ^

RangeError [ERR_HTTP_INVALID_STATUS_CODE]: Invalid status code: SELF_SIGNED_CERT
_IN_CHAIN
    at ServerResponse.writeHead (_http_server.js:208:11)
    at ServerResponse._implicitHeader (_http_server.js:199:8)
    at wr

[2018-09-07 08:22] rungruangy opened #193 "how to make Wastson-assistant-simple from localhost:3000 to https:// (secure)"

[2018-09-07 20:55] Confidenceiskey opened #194 "How to stop IBM from artificially inflating your conversation counts?"
Just reading the documents from [this page](https://console.bluemix.net/docs/services/conversation/logs_oview.html#graphs-and-statistics) and quoting the below...

Would someone be able to give me a hint where it would be best to stop this initial welcome message in the source code? Then I can just build the initial welcome message into the front-end and not be 'using' the IBM service when users a

[2018-09-07 22:52] mitchmason commented on #194
I want to make it clear that we do not use intro messages to inflate the conversation counts. There are many reasons for the intro message and first actions to come from the Watson service. Many clients like to randomly choose various intro messages which we can easily support through response variations. Also, most clients like to add user context and respond with a more personal introduction, wh

[2018-09-07 22:56] mitchmason commented on #194
For the most very basic intro message of all time, just add your text between the <div> on line 25, anything more fancy you'll have to figure it out yourself as I'm not that great at html and I basically just guess and check until I like it.

[2018-09-07 22:58] mitchmason commented on #193
You'll have to host the app somewhere. Its fairly simple to host on Bluemix, but you can do it anywhere you are familiar with. For Bluemix, just follow these instructions
https://console.bluemix.net/docs/starters/upload_app.html

[2018-09-07 22:59] mitchmason commented on #192
You can definitely do it on Windows. I dont have a windows machine rn but did on a Mac again just now. First, I edited my .env file, saved it, then ran npm install, then ran npm start. Got the message it was on localhost:3000, navigated there via my browser and it worked.

Did you make any additional changes before running npm install?

[2018-09-07 23:01] mitchmason commented on #187
It was really bothering me before but I dont see anything too bad now that I'm looking again, ignore for now

[2018-09-07 23:01] #187 closed

[2018-09-08 07:36] tkretsch opened #195 "deploy to bluemix button"
Hello, thanks for sharing the project, it is very useful. could you add a deploy to bluemix button:
https://console.bluemix.net/docs/services/ContinuousDelivery/deploy_button.html#deploy-button
it would help to very quickly deploy more than 1 app for testing purposes. it would also be great if there would be a web online form to enter the data of the .env and manifest.yml ... hope it helps. thanks

[2018-09-08 07:56] tkretsch opened #196 "write chat log to cloudant"
Hello, if you create a chatbot and you send it to colleagues & friends for testing purposes, you would need to see what has been asked and what has been answered. specifically for collecting questions it would be helpful to write the dialog into a cloudant. could you enhance the app in such a way? unfortunately I am not a developer :-) I am more a watson assistant creator. thanks a lot.

[2018-09-09 08:54] tkretsch opened #197 "Dialog-Response-Options: No Links"
Hi, I have created in the Dialog an Answer with Options. the Links you can click on in original Watson page "Try me" do not appear in the assistant-simple app. it only shows the "list label" can you fix this? Thanks & Greets.

[2018-09-10 04:12] Oliver-I commented on #197
@tkretsch I'm not sure what the issue is here, the assistant-simple app and the "Try me" responses show the same list items (List Label), as this is the text to be seen when presented to an end-user. When the user clicks on an option the system will display the value (if it's different).

Please see the below example where I modified the value to "my lights" but the list label is set to "the light

[2018-09-10 04:15] Oliver-I commented on #196
@tkretsch The system allows you to examine the interactions via the Improve area. You can click on the Improve icon, then click on User Conversations to view the interactions between your virtual assistant and end-users - see screenshot below.

![image](https://user-images.githubusercontent.com/24578377/45276111-ca65d200-b503-11e8-8317-8e7d0be0e54f.png)

[2018-09-10 04:15] #196 closed

[2018-09-10 04:16] Oliver-I commented on #195
@stevenpkg Could you provide information on this issue.

[2018-09-10 04:19] #193 closed, assigned to nobody

[2018-09-10 05:55] stevenpkg commented on #192
@sagarvadodaria also on top of what @mitchmason has told you above, are you executing npm install and npm start in the project root directory?

[2018-09-10 05:59] stevenpkg commented on #195
The preferred option is to use 'ibmcloud app push' command, We did used to have Deploy to IBM Cloud button, I will think about if we should bring it back.

[2018-09-10 12:27] tkretsch commented on #197
Hi Oliver,
I have copied  3 screenshots together:
1. the dialog (german)
2. the Try me dialog including the hyperlinks to klick
3. the simple app connected to the workspace (no hyperlinks to click)

if you click in 2. the hyperlink "Rechnungserklärung" the watson put the value "Erkläre mir meine Rechnung" into the chat. But in 3. if you can not click you will never see the value.

I would like to

[2018-09-10 13:45] alley28 opened #198 "Support for Images and Pauses in App"
In working with the sample app - ive noticed two things it doesnt seem to support.  First, if i have conversation that has a pause in it - the app doesnt seem to honor that.  Also, if I have an image as part of a conversation response, it works inside of the Try it app in the Watson Assistant, but it doesnt seem like the app is able to handle the displaying of the image link.

[2018-09-10 14:29] sagarvadodaria commented on #192
I tried in my personal windows laptop and it just worked fine (barring few npm issues). I think for my work, since i am behind a corporate firewall and with a proxy, i get the errors above. i will close this issue, but if you any have suggestions for resolving "Invalid status code: SELF_SIGNED_CERT_IN_CHAIN", that would be much appreciated.

[2018-09-10 14:29] #192 closed

[2018-09-10 16:01] Confidenceiskey commented on #194
Hey @mitchmason,

Thank you very much for the response and the guidance! That will be very helpful to get me going. It is a bit of a pain to jump into something when you don't fully understand the inner workings of everything, but knowing where I should focus my energy (specific files or sections) will help save me a ton of time! So thanks once again 👍

And just to add...
Maybe I had used the wron

[2018-09-10 16:48] mitchmason commented on #194
You're welcome, thanks for clarifying :)
Most of our clients also hide the chat behind some kind of click like a 'click here to chat' button or something, to also avoid opening the chat at every page load.
but this method will work as well if you want the chat window always ready to go

[2018-09-10 18:12] Confidenceiskey commented on #194
No problem @mitchmason!

I just implemented exactly what you said, and it works beautifully! Thanks once again! Would have taken me a long time to figure out what to comment out in the JS code.

Yeah...I was also thinking about having an onclick (button) event to start the chat dialogue. However, I didn't quite like that as it would've made the user perform an extra click. But, now thinking about

[2018-09-10 18:12] #194 closed

[2018-09-10 20:54] Oliver-I commented on #198
@alley28 These two items are currently being added to the app and should be available soon.

[2018-09-10 21:07] alley28 commented on #198
@Oliver-I Thanks for the note.  Not to be a pest, but is the timeline soon?  would love to showcase this as part of a lab we have for Dreamforce 2018.  That happens in a little over 2 weeks.

[2018-09-12 11:29] tkretsch commented on #197
When do you think you can fix it?

[2018-09-13 00:43] Oliver-I commented on #197
@tkretsch This is working as expected in the sample app, lists can be clickable or not, as required by your solution - you would need to add the clickable code in your version of the sample app. However, if you want to use the UI code as is, please add "preference": "button", to the response code - which would be inserted just above the response_type:

        "preference": "button",
        "resp

[2018-09-13 10:36] tkretsch commented on #197
perfekt, thanks a lot. I changed it and it works. for other people looking for it, here is the link to the documentation: [https://console.bluemix.net/docs/services/conversation/dialog-responses-json.html#defining-responses-using-the-json-editor](https://console.bluemix.net/docs/services/conversation/dialog-responses-json.html#defining-responses-using-the-json-editor)

[2018-09-13 10:36] #197 closed

[2018-09-13 13:07] germanattanasio commented on #195
@stevenpkg is right we don't plan to support the deploy to IBM Cloud

[2018-09-13 13:07] #195 closed

[2018-09-13 20:02] JStefanikIBM opened #199 "Reflected Cross-site Scripting Vulnerability"
The app appears to suffer from an XSS vulnerability.

Writing the following payload to the chat will result in an alertbox displaying the domain that is hosting the Node.js app.

`<img` src=x onerror=alert(document.domain)><!--`

The Javascript code of the page is doing a request to /api/message and it uses the input:text to write the content into the chatbox message after the request is done.  Th

[2018-09-13 23:29] Oliver-I commented on #199
@stevenpkg Can you look into this?

[2018-09-13 23:37] stevenpkg commented on #199
@JStefanikIBM demo apps are meant to be simple applications using Watson services, and not necessarily commercial strength apps, @mitchmason @germanattanasio  @fredrik-tunvall what do you all think?

[2018-09-18 20:09] germanattanasio commented on #198
Fixed in #200

[2018-09-18 20:09] #198 closed

[2018-09-18 21:26] Oliver-I commented on #198
@alley28 These features are now in the code.

[2018-09-18 22:43] mitchmason opened #201 "add clickable buttons"
Can we please change the buttons so they are clickable instead of just a list. If a standard list is needed people can use standard html tags.

[2018-09-24 01:58] stevenpkg commented on #201
see https://github.ibm.com/Watson/Sample_Apps/issues/12#event-33115072

[2018-10-01 14:45] markpokane opened #203 "Option to remove displaying of right hand side panel...."
Hi Folks,

Is it possible to remove the right hand side panel showing the json calls? I'd like to make the demo available to a customer but only showing the interations with the chatbot.

Thanks and regards,
Mark

[2018-10-01 15:03] markpokane commented on #203
Apologies but saw this was answered in a previous item. Closed accordingly.

[2018-10-01 15:03] #203 closed

[2018-10-01 15:03] mitchmason commented on #203
I think this is what you're looking for:
https://github.com/watson-developer-cloud/assistant-simple/issues/68

[2018-10-01 15:04] mitchmason commented on #203
@stevenpkg I actually this is either a) fairly common or b) something preventing from adopting this app more frequently, maybe we can add this to the readme so its more prominent?

[2018-10-01 21:41] #201 closed

[2018-10-01 23:58] stevenpkg commented on #203
@mitchmason yes maybe we can add something to the readme to explain how to remove, or have some flag in the code to show and hide JSON?

[2018-10-08 00:17] #199 closed

[2018-10-29 20:19] mitchmason opened #209 "Include local timezone in context"
Currently the time zone defaults to wherever the application is hosted (I think) and using functions like .now doesnt really help the end user, as they are likely not based in the same time zone as the application.
If we can send in users timezone as context this is easily fixed.
https://console.bluemix.net/docs/services/conversation/supported-timezones.html#time-zones-supported-by-system-entities

[2018-11-01 12:59] Juleffel opened #210 "Handle audio with speech to text 🎙 and text to speech 🔊"
In case anyone wants to do that too, I post my fork here:

I added Speech to text and Text to Speech to this demo, with inputs to start/stop and change the voices. Here is the fork: [Juleffel/assistant-audio](https://github.com/Juleffel/assistant-audio) . You can see it work [live here](http://watson-assistant-audio.eu-de.mybluemix.net/).

I used the [speech-javascript-sdk](https://github.com/wats

[2018-11-01 20:59] #210 closed

[2018-11-01 23:15] Oliver-I commented on #209
As discussed, we may look into this at a future date.

[2018-11-01 23:15] #209 closed

[2018-11-02 00:59] germanattanasio commented on #210
@Juleffel That looks pretty cool! Thanks for sharing your work!

[2018-11-12 16:15] laurentvinc opened #213 "Doesn't work with the new assistant using Skill"

[2018-11-12 16:42] germanattanasio commented on #213
HI @laurentvinc, you are right. This demo works with Assistant v1 and not Assistant v2.

We will look into creating a new demo once V2 is leaves beta

[2018-11-13 14:13] laurentvinc commented on #213
i am using brand new instance of watson assistant but the API V1 are still the same. so I expected to get something running with the right APIkey , url and workspace ID.
am i wrong?

[2018-11-14 02:46] Oliver-I commented on #213
@stevenpkg Can you look into this. The app is running without issue on https://assistant-simple.ng.bluemix.net/

[2018-11-16 03:03] stevenpkg commented on #213
@laurentvinc what output are you seeing in the console from `npm start`?

[2018-11-16 12:57] laurentvinc commented on #213
So finally it is running but with the credentials the variables
assistant_username=apikey
assistant_password = <apikey value>
previously I used the variables
assistant_iam_apikey and assistant_url. in this case the application didn't success to reach the service.

that's fine now, but i am surprised by the application settings.

[2018-11-18 19:14] germanattanasio commented on #213
I was able to run the application with the IAM APIKEY
Here is the content of my `.env` file
[code]

[2018-11-18 19:14] #213 closed

[2018-11-30 11:46] tim-minter opened #214 "Mobile Ready"
Hi, could we get a version that is mobile first/mobile optimised? I've been trying to tweet the css to make it work on an iPhone 7 but so far failing. I use this quite a lot in IBM demos and it is always accessed via mobile in a demo situation. People always struggle with entering the text (the first char always disappears off the screen for example) And scrolling up/across to see the result isn't

[2018-11-30 21:43] mitchmason opened #215 "update readme images and gif"
please update the gif in the readme to use the new banking content
and the image about provisioning should be update to be more recent as well

[2018-12-02 23:36] Oliver-I commented on #215
@mitchmason The readme gif was updated a while back and is showing the banking content, you may need to clear your browser cache. Let me know if you still can't see the banking content.

[2018-12-02 23:41] Oliver-I commented on #214
@tim-minter We currently don't have a mobile version of this sample app, but you can see a list of the Sample Apps at the Watson Assistant documentation (https://console.bluemix.net/docs/services/assistant/sample-applications.html#sample-apps), any new Sample Apps will appear on that list.

[2018-12-02 23:41] #214 closed

[2018-12-04 21:42] Oliver-I commented on #215
As discussed will close this for now and update step 5 image at a later date.

[2018-12-04 21:42] #215 closed

[2018-12-07 14:24] nnworkspace opened #216 "too many dialog nodes in the example, the training json file cannot be imported"
Hi,

Watson Assistant API is running under V2 currently and I am trying to bring up this demo using my free Lite plan. The problem is, I cannot import the bank_simple_workspace.json. The error message is:

We could not import your Skill. Maximum dialog_nodes limit exceeded. Limit = 100.

Could you please simplify the example and make the json file importable for a Lite plan? Thanks in advance!

Re

[2018-12-07 21:03] germanattanasio commented on #216
This demo only works with V1.

[2018-12-07 21:20] nnworkspace commented on #216
Is there any Watson Assistant Nodejs client example application that actually runs with API V2?

[2018-12-07 21:20] mitchmason commented on #216
so the version of the api doesn't actually matter for the service limits. You can use this sample UI all you want, you just need to use a different workspace.

If you open up the Watson Assistant GUI, there is another sample skill in there called customer care that will work. And you can use that with this simple sample app.

[2018-12-07 21:20] mitchmason commented on #216
We will port this demo over to v2 over time

[2018-12-07 22:07] nnworkspace commented on #216
My biggest problem is to actually get a connection to the WA service at all. Because all the example WA apps I found uses workspace_id in the .env file to connect, but the new bluemix WA UI doesn't even let me create a workspace any more (now it's called "assistant"). I tried out the pizzeria WA application, the UI starts but the assistant cannot even initialize itself.

I think we need an updated

[2018-12-07 23:14] mitchmason commented on #216
skill id == workspace id

[2018-12-10 05:49] Oliver-I commented on #216
@nnworkspace You can find smaller samples of the skill (workspace) at https://github.com/Oliver-I/Watson_Assistant_Sample_Library.

Also, the Intermediate Sample App will be updated to V2 very soon (github at https://github.com/watson-developer-cloud/assistant-intermediate and UI demo at https://assistant-intermediate.ng.bluemix.net/)

[2018-12-10 05:49] #216 closed

[2018-12-10 22:22] mitchmason opened #217 "support for disambiguation"
Please include support for disambiguation responses. The sample app should not include any in the workspace as it is not available on all plan types, but the app itself should support disambiguation for those users who do have access.

[2018-12-11 00:17] #217 closed

[2018-12-11 02:01] Oliver-I commented on #216
@nnworkspace The Intermediate Sample App has now been updated to use the V2 API - https://github.com/watson-developer-cloud/assistant-intermediate

[2018-12-11 08:05] nnworkspace commented on #216
@Oliver-I

Cool!!! I'll clone and try it out right away. By the way, many customers would like to containerize their applications and deploy them onto Kubernetes clusters. It would really nice to provide a Docker file in the application.

<3 Thank you very much! <3

[2018-12-16 09:20] AliAhmedNada opened #219 "The last Commit latest Work"
The latest commit doesnt work .

![image](https://user-images.githubusercontent.com/17008257/50051950-e6919480-012c-11e9-92b0-189568817bf2.png)

[2018-12-16 13:59] #219 closed

[2019-01-08 11:14] Skittles-Cosmo opened #220 "Failed to load resource: the server responded with a status of 500 (Internal Server Error)"
While trying to run on localhost, I get "Failed to load resource: the server responded with a status of 500 (Internal Server Error) api.js:81". Underneath that I also get "XHR failed loading: POST "http://localhost:3000/api/message". api.js:81".

My service is in London region and I'm using the  iam_apikey for authentication.

[2019-01-10 01:30] stevenpkg commented on #220
Not sure from the information you have given me what the problem is. Are you still having the problem, if so, can you post the full console error using this command 'NODE_DEBUG=request npm start'

[2019-01-10 07:42] Skittles-Cosmo commented on #220
Yes I am.

This is what I get on console:

POST http://localhost:3000/api/message 500 (Internal Server Error)
sendRequest @ api.js:76
init @ conversation.js:32
(anonymous) @ global.js:10
(anonymous) @ global.js:105
09:37:36.164

XHR failed loading: POST "http://localhost:3000/api/message".
sendRequest @ api.js:76
init @ conversation.js:32
(anonymous) @ global.js:10
(anonymous) @ global.js:105

[2019-01-10 21:31] stevenpkg commented on #220
@Skittles-Cosmo still not sure, have you set the correct `ASSISTANT_URL`

[2019-01-11 12:01] Skittles-Cosmo commented on #220
@stevenpkg I'm using 'https://gateway-lon.watsonplatform.net/assistant/api'. My assistant workspace is in London.

I managed to get rid of the status 500 and it works properly on local host now. I pushed it up to Cloud and it runs for a while then crashes. I get the following message: Failed to load resource: the server responded with a status of 502 (Bad Gateway)

[2019-01-11 15:36] BurakYilmaz92 commented on #220
@Skittles-Cosmo  Can you share how you get rid of the status 500 in your local ? I am having same issue now

[2019-01-12 08:35] Skittles-Cosmo commented on #220
What worked for me is adding:
 var assistant = new AssistantV2({
  version: '2018-11-08',
  iam_apikey: '<api key>',
  url: '<url>'
});

[2019-01-13 23:58] Oliver-I commented on #220
Thanks @Skittles-Cosmo.

[2019-01-13 23:58] #220 closed

[2019-01-14 08:06] Skittles-Cosmo opened #221 "502 bad gateway when pushed up"
I configured the app as specified and it ran perfectly on local host. Once I push it up to IBM Cloud, I can ask roughly 6-9 questions then it stops working. On console I get "POST https://<app name>.eu-gb.mybluemix.net/api/message 502 (Bad Gateway)"

[2019-01-14 19:02] germanattanasio commented on #221
@Skittles-Cosmo can you pull the logs from the running app?
[code]

[2019-01-15 09:05] carloscasen commented on #221
Hi, we are having the same issue, where you have the bluemix services(london, frankfurt, ...)if you have some news about it, post it please!

[2019-01-15 09:51] julen9 commented on #221
Same problem in my projects, and no errors are logged in the log when 502 error are showed. I think that is an error of IBM Cloud platform, because everything is working fine in other arquitectures (localhost, raspberry Pi...). We are in touch!

[2019-01-15 12:55] carloscasen commented on #221
Hi guys, finally i have the solution of this. bluemix deploy nodeJS apps in v6.15.0 but unfortunally this is not very stable. the solution for this is force de version of node in the bluemix, this is easy writting this lines in the package.json of the aplication :
` "engines" : {
    "node" : "6.14.4"
    },
  "engineStrict" : true, `
the node  v6.14.4 is stable and your app run perfectly in bluem

[2019-01-21 13:30] sandra-calvo opened #223 ""I'm having trouble connecting to the server, please refresh the page""
Hi,

I keep getting the following message when I run my app:
"I'm having trouble connecting to the server, please refresh the page".

I was going crazy trying to find the error when I tried the demo app and it has the same problem.
[demo app](https://assistant-simple.ng.bluemix.net/)

Is there something wrong with the code?

Thanks.

[2019-01-21 20:49] germanattanasio commented on #223
Please provide a set of reproducible steps.

[2019-01-23 13:10] sandra-calvo commented on #223
sorry, my fault. My Watson Assistant was still v1, so once I used the v1 code it worked.
Thanks.

[2019-01-23 13:10] #223 closed

[2019-02-04 14:43] dandresv opened #224 "I'm having trouble connecting to the server, please refresh the page"
I have problems with my credentials since, I follow all the steps that indicate but it always answers me the following when I execute the command line npm start

"I'm having trouble connecting to the server, please refresh the page"

Attached url with some images of my credentials [https://drive.google.com/drive/folders/1mwT8pzuU7EGQkOn8TJiR1yUmZ06I_gwB?usp=sharing](url)

[2019-02-04 15:53] obgvts commented on #224
I'm having the same issue. Seems to come from /api/session, https error code 404 - Not found. No idea what is not found.

I'm pretty sure nothing wrong with my apikey, aim_url, assistant_id. Tested them on rest tester.

[2019-02-04 21:51] Oliver-I commented on #224
@stevenpkg Can you take a look at this?

[2019-02-04 22:31] stevenpkg commented on #224
@dandresv looking at your .env file I can see you have both username, password and IAM key. Please specify one or the other. Use a # to comment out variables you do not need:

#ASSISTANT_USERNAME=6a563286-afc2-49b8-9214-xxxxxxxxxx
#ASSISTANT_PASSWORD=d8T7Hxxxxxxx
#ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api

# OR IAM API key and URL

ASSISTANT_IAM_APIKEY=0adu5bk5RDQQqnWtxRufmST0

[2019-02-05 13:49] dandresv commented on #224
@stevenpkg Make the corresponding changes and leave these variables ASSISTANT_ID, ASSISTANT_IAM_APIKEY, ASSISTANT_IAM_URL and I still get the same error, I'm reviewing from the browser console and I answered the following "Failed to load resource: the server responded with a status of 500 (Internal Server Error) ": 3000 / api / message

[2019-02-06 02:00] stevenpkg commented on #224
@dandresv the problem I believe is getting the session key due to credentials not being correct. What error is printed on the backend.

put some debug code around this function, also you can turn on node debug

[code]
[code]

[2019-02-07 15:18] dandresv commented on #224
This is the error that is showing me in the app.js.

**(api/session)**
Error: Not Found
    at Request._callback (\assistant-simple\node_modules\watson-developer-cloud\lib\requestwrapper.js:102:21)
    at Request.self.callback (\assistant-simple\node_modules\watson-developer-cloud\node_modules\request\request.js:185:22)
    at emitTwo (events.js:126:13)
    at Request.emit (events.js:214:7)
    at

[2019-02-07 22:36] stevenpkg commented on #224
@germanattanasio have you any thoughts why the session Id is failing?

[2019-02-11 11:19] binerb14 opened #227 "I'm having trouble connecting to the server"
Wir können vom User-interface nach der Eingabe keine Verbindung zum Chatbot bekommen.

Der Chatbot ist eingerichtet (trainiert) , d h. der Schritt "Watson Assistent Service" Instanz wurde erfolgreich durchgeführt. Er wurde erfolgreich auf der IBM-Cloud getestet.

Als nächster Schritt wurde das github Projekt heruntergeladen, die Dateien (URL, APIKEY usw) angepasst und die Client-Anwendung gestarte

[2019-02-11 19:06] ElinShek commented on #224
I'm having the same issue here. It works with the username and password of the old Assistant, but it does not work with the new Assistant service credentials ASSISTANT_IAM_APIKEY, ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api/, and ASSISTANT_ID that I provide.

[2019-02-11 20:58] stevenpkg commented on #224
Not sure ATM, will try and test some more with different account myself to see if I can replicate this issue. @ElinShek there is no need to put the iam_apikey and url in the V2 constructor, just have them in your .env file, make sure you only specify one type of login, username or aim

[2019-02-12 17:41] ElinShek commented on #224
My simple app is working now. You have to make sure that you don't have the old service credentials in your environment still (i.e. ASSISTANT_USERNAME, ASSISTANT_PASSWORD, etc.) I used a new terminal and everything works with the IAM api key. FYI...

[2019-02-13 04:01] Oliver-I commented on #227
@binerb14 Some other users have suggested to make sure that you don't have the old service credentials in your environment still (i.e. ASSISTANT_USERNAME, ASSISTANT_PASSWORD, etc.) .

@stevenpkg Please advise if this may be due to a different issue.

[2019-02-13 05:13] stevenpkg commented on #227
@binerb14 please remove the assistant_url and you should be all good

[2019-02-13 13:10] ToniHuovinen commented on #224
Could you open this little bit. I am having same issues and I can't seem to be able to solve it. Also I am bit confused on where I could find the needed information, I feel I have taken the wrong ones

[2019-02-13 16:35] ElinShek commented on #224
ASSISTANT_IAM_APIKEY is used starting with Assistant version 2. If your Assistant is created during version 1 then you have to use the username and password. If you go to your dashboard in Bluemix, click on your Assistant instance, on the Manage page where there is a Launch tool button... there should be an API Key and a URL. API Key = ASSISTANT_IAM_APIKEY and URL = ASSISTANT_URL.

You also have t

[2019-02-13 19:26] ToniHuovinen commented on #224
Thank you very much! I got it working. I had ASSISTANT_URL incorrect.

[2019-02-16 21:29] germanattanasio commented on #227
@binerb14 `ASSISTANT_IAM_URL` is wrong. Remove it and it will work

[2019-02-17 23:13] #224 closed

[2019-02-17 23:13] #227 closed

[2019-04-10 22:33] jchblsc opened #232 "ETIMEDOUT err.code causes app to fail"
In the following in `app.js:`

[code]

The returned `err.code` is not always a valid HTTP return code.

For example, ETIMEDOUT error has an associated `err.code` of 0 and causes the entire Node app to go belly up:

[code]

[2019-04-16 22:51] Oliver-I commented on #232
@stevenpkg Can you take a look at this?

[2019-04-22 21:52] Oliver-I commented on #232
@jchblsc This has now been resolved with pull request #233

[2019-04-22 21:53] #232 closed

[2019-06-05 04:59] sonukick commented on #220
I ran in to similar issue. Make sure you give assistant id not workspace id of your skill,the same for url

[2019-06-13 17:18] huesoamz opened #240 "Error 413 (Payload Too Large) custom context variables"
We have a custom solution that send customs context variables to watson that we define on our custom backend, the problem its that the

This is the error:

`PayloadTooLargeError: request entity too large<br> &nbsp; &nbsp;at readStream (/node_modules/body-parser/node_modules/raw-body/index.js:155:17)<br> &nbsp; &nbsp;at getRawBody (/node_modules/body-parser/node_modules/raw-body/index.js:108:12)<br

[2019-06-18 03:46] Oliver-I commented on #240
@stevenpkg Can you advise.

[2019-06-18 03:53] stevenpkg commented on #240
I do not have an answer for you, you will need to debug your own code, as this space is only for issues with demo code

[2019-06-18 15:25] germanattanasio commented on #240
@huesoamz you need to increase the payload as you suggested above. I think the demo uses the default value which is 1mb.

[2019-06-18 15:26] germanattanasio commented on #240
I'm closing this since it's not a problem with this demo

[2019-06-18 15:26] #240 closed

[2019-07-03 22:05] huesoamz commented on #224
That it's the time of the "session"? how can configure that and the message?

Because a lot of times the demo show this:

![image](https://user-images.githubusercontent.com/3308717/60627639-089aed80-9dc5-11e9-93fc-ce32e84fcf38.png)

NotFound: session id e6066d98-a3d1-489d-b91d-e44cdb616539 for agent instance 1ed2ee6d-9f40-4c62-bd2a-089081cef547

Full response:

https://jsonblob.com/41766720-9dde-1

[2019-07-04 02:07] Oliver-I commented on #224
@huesoamz That's correct, the error message will appear when the app can't connect to the assistant (when it times out after approx 5 mins, or you lose connection to the assistant).

[2019-07-04 12:59] huesoamz commented on #224
And how can increase that time?, 5 minutes its not enough and how customize the message for that error? (portuguese...spanish) I had more than 5 bots for migrate to this version (assistantv2 from conversation) and need to change that because are bots on produtions enviroments.
Could you please help me?
Thanks in advance,

[2019-07-04 13:38] Oliver-I commented on #224
@huesoamz The timeout limit can be found in the assistant settings. Go to your Assistant and click on the Settings option (found on the right-hand side of the screen).

![image](https://user-images.githubusercontent.com/24578377/60670673-96a1d180-9eb4-11e9-9e8c-8259bb2ecf23.png)

Then select the Inactivity Timeout option from the left-hand menu. IT will show you the timeout limit applied to your a

[2019-07-04 15:49] huesoamz commented on #224
Oliver very thanks for your support but the URL that you provide doenst work, I general we use "standard" plan, but the maximum in that cases its only 5 minutes...so for no create another 3 more assistants with 3 more highers plans only for see what its the maximum in each plan, could you plase tellme if exist a page that explain that? (the page gives 404)

And the other question is...why if my As

[2019-09-12 13:06] cauems opened #245 "I'm having trouble connecting to the server, please refresh the page"
Which of these credentials do I put in the code and where do I find them in current Watson?
(assistant feature)

![image](https://user-images.githubusercontent.com/53436391/64786409-be608600-d544-11e9-814d-58a49f6a8ed5.png)

[2019-09-13 17:06] JoseAvalos opened #246 "Skills with DISCOVERY-IT DON'T SHOW THE ANSWER"
Hello

I has been working ok with that assistant. I added a skill base in Discovery service that it's working fine in integration demo. However, using this github the chatbot just respond to dialog assistant but no with Discovery assistant responding "I'm having trouble connecting to the server, please refresh the page"

I have notice that in right screen I receive the answer but it did show in th

[2019-09-16 04:08] Oliver-I commented on #245
@cauems If you are still experiencing issues, take a look here - https://github.com/watson-developer-cloud/assistant-simple/issues/224.

[2019-09-16 04:11] Oliver-I commented on #246
@JoseAvalos That's correct, the assistant-simple does not have Search integration. What you need is the assistant-intermediate version, which can be found at https://github.com/watson-developer-cloud/assistant-intermediate.

You can test the Intermediate app at https://assistant-intermediate.ng.bluemix.net/ . Simply type "insurance" and it will display a list of search results.

[2019-09-17 22:52] #246 closed

[2019-09-17 22:53] Oliver-I commented on #245
@cauems This issue will now be closed. If you are still experiencing the problem please re-open the issue for further assistance.

[2019-09-17 22:54] #245 closed

[2019-11-13 14:00] tommaso-rossi opened #251 "Reset the session once expired"
Hi,
after the timeout limit, the ap.js file gives this error:
`http.onreadystatechange = function() {
      if (http.readyState === XMLHttpRequest.DONE && http.status === 200 && http.responseText) {
        Api.setResponsePayload(http.responseText);
      } else if (http.readyState === XMLHttpRequest.DONE && http.status !== 200) {
        Api.setErrorPayload({
          'output': {
            'ge

[2019-11-17 21:00] Oliver-I commented on #251
@tommaso-rossi You may be able to use the session_timeout value to create an automated session reload, as assistants can have differing expiration values.

In this case the demo is working as intended and I will close this issue.

Please note you can discuss development changes to your app at sources such as https://developer.ibm.com/answers/index.html.

[2019-11-17 21:01] #251 closed

[2019-11-25 05:03] TeejayNagarajan commented on #220
Hi,
I have one doubt how much size of data through controller to view using jquery ajax method in mvc 4

[2019-11-26 14:29] Mmalik83 opened #252 "Adding code to filter the response"
Hi

I am using Watson discovery via webhook to Watson Assistant to bring the passages from discovery results. I want to add some code to the data received from the assistant to filter out unnecessary fields such as document_id etc from the passages. Where can i put the following code to filter "text" field in passages.

/**
 * formatData - format search results into items we can process easier. Th

[2019-12-02 22:36] Oliver-I commented on #252
@Mmalik83 You can see how the Search Doc results are handled in the Intermediate Sample App - https://github.com/watson-developer-cloud/assistant-intermediate/blob/master/functions/searchDocs.js . The Simple App doesn't handle Search Docs.

[2019-12-02 22:36] #252 closed

[2019-12-20 04:39] jithu12 opened #253 "Test failed. Error: Dialog Error: Protocol error."
I don't know why it happens.

[2019-12-23 22:09] germanattanasio commented on #253
This issue has no reproducible steps. Please re-open this issue if it still occurs.

[2019-12-23 22:09] #253 closed

[2020-04-06 08:46] developer-bz opened #257 "Accessing the state property of system object in the skills object of context variable in ibm watson assistant v2 api"
This is not an issue, rather something informative.
I could read from the ibm watson assistant v2 api documentation that there is a state property which provides information about the current conversation state. It also says that it is an encoded string. Is there any way i can decode this string and get the information on the current conversation state? If yes, please provide the steps to decode i

[2020-04-07 20:14] germanattanasio commented on #257
@mitchmason ☝️

[2020-04-09 12:31] developer-bz commented on #257
@mitchmason can you please provide your inputs?

Thanks in advance

[2020-04-17 20:02] marcelodiaz558 opened #258 "Uncaught TypeError: Cannot read property 'session_id' of undefined"
Hello, I'm trying to deploy the Node JS server to a Namecheap hosting, everything is working fine in my local computer but when I deploy and everything is configured then I receive the following error locally:
[code]

All my UI charges ok and my bot answers with the habitual "I'm having trouble connecting to the server, please refresh the page", apparently is a problem related with the session_id,

[2020-04-20 14:13] germanattanasio commented on #258
What's the output of `rest.result` if you print it out? It's hard to understand what the problem is without a set of reproducible steps

[2020-04-20 14:16] mitchmason commented on #257
Setting debug:true in the options object should return all the info you want. At this time you cannot pro-actively edit the state object you are seeing there to manipulate it, but you can get the same info via debug:true.
Editing the state in v2 api is on the roadmap.
If you absolutely need to edit the state then I'd suggest using v1 in the meantime.

[2020-04-20 16:17] marcelodiaz558 commented on #258
Thanks for answering, `res` was an empty JSON like format, I already solved this problem, it was a quite simple mistake on my side, to try to be helpful this is what was happening:

After deploying the server to my web hosting I forgot about changing the sessionEndPoint and messageEndPoint variables in api.js, it's important because now that our web app is on the internet we need to specify https:

[2020-04-20 16:18] #258 closed

[2020-04-21 17:03] developer-bz commented on #257
Thanks @mitchmason @germanattanasio .
I already have debug set to true in the options object. But it isn't giving me the information related to digressions. Can you tell me the way to get information on digressions? Like v1 api has digressed:true in the system context variable. Getting atleast digressed:true would be of great help with v2 api.

[2020-06-04 14:41] PhilippeComte opened #259 "Unable to start the app : Failed at the @ start script."
Hello ,
following the instructions, I did :  npm install
At npm start I get : dotenv missing
I installed : npm dotenv
Then it is express that is lacking
I've installed the latest node 12.18.0 and npm 6.14.4
and installed  express and express generator
Sudo npm install -g express
Sudo npm install -g express-generator

I got issues  at npm start
Failed at the @ start script.

Is it something that ot

[2020-06-04 16:32] germanattanasio commented on #259
Hi @PhilippeComte.

If you run `npm install` you should get all the dependencies you need including [`dotenv`](https://github.com/watson-developer-cloud/assistant-simple/blob/master/package.json#L23)

The fact that you got an error on the dependencies makes me think that you are not running the command in the folder where the code is

[2020-07-13 20:45] foward opened #260 "missing render of search skill"
The UI doesnt have the proper render when is a search skill

![image](https://user-images.githubusercontent.com/249026/87351935-86f2a980-c55a-11ea-8b78-6bd676a4f0e1.png)

[2020-07-13 21:02] mitchmason commented on #260
There are multiple levels of the sample application that increase in both power and complexity. This app is purposely kept simple so it is easy to understand the code without too much complexity.
https://github.com/watson-developer-cloud/assistant-intermediate

[2020-07-13 21:02] #260 closed, assigned to nobody

[2020-11-18 05:59] Austin-Jones opened #268 "How can I add a context variable in api.js?"
I can add a context variable by editing the payload in app.js, but I would like to update a context variable when a user submits a message. I tried changing the payload in api.js to look like this:
[code]

There is an updateMessage function according to the Watson API but the api.js component does not use this.
Any ideas on how I can update the context variable?
Thanks in advance.

[2021-04-16 06:45] Akshaya-Shankar opened #270 "ng serve fails with below error"
[2021-04-16T06_41_38_926Z-debug.log](https://github.com/watson-developer-cloud/assistant-simple/files/6323046/2021-04-16T06_41_38_926Z-debug.log)
I have tried reinstalling npm packages but still I face this issue

[2021-06-26 00:43] nightdvlpr commented on #259
I have the same issue:
`
11 silly lifecycle mayagroupapi@0.0.0~start: Args: [ '-c', 'node ./bin/www' ]
12 silly lifecycle mayagroupapi@0.0.0~start: Returned: code: 1  signal: null
13 info lifecycle mayagroupapi@0.0.0~start: Failed to exec start script
14 verbose stack Error: mayagroupapi@0.0.0 start: `node ./bin/www`
14 verbose stack Exit status 1
14 verbose stack     at EventEmitter.<anonymous> (